include admin_header.jade

input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages',  size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow',  size='1', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Site Admins
					.row
						.form-group
							label.col-lg-2.control-label(for='email') Email ID
							.col-lg-3
								input#email.form-control(type='text', name='email', placeholder='Email ID')
							label.col-lg-2.control-label(for='uname') Admin Name
							.col-lg-3
								input#uname.form-control(type='text', name='uname', placeholder='Admin Name')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='pass1') Password
							.col-lg-3
								input#pass1.form-control(type='password', name='pass', placeholder='Password')
							.col-lg-3.col-lg-offset-2
								input#pass2.form-control(type='password', name='pass', placeholder='Reconfirm Password')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include admin_js.jade
script(src='../js/a002_validator.js')
