include admin_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center.text-success Orphan Registrations
					.row
						.col-lg-12
							table#listTable.table.preCompany.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include admin_js.jade
script(src='../js/a005_validator.js')
