include admin_header.jade
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Clients list
					.row
						.form-group
							.col-lg-12
								table#listTable.table.clist.table-bordered.table-striped.table-hover
									thead
									tbody
								ul#listpages

div.ajaxaction

include admin_js.jade
script(src='../js/a006_validator.js')
