doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='img/favicon.ico')
  title plugHRapp - Streamlined HR

  include stylesheets.jade

body
  // Fixed navbar
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') PLUGHRAPP
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          //li
            //a(href='/features') Why plugHRapp?
          //li
            //a(href='/pricing') Pricing
          //li
            //a(href='/showcoverify') Verify email
          //li
            //button#signup_btn.btn-lg.navbar-btn.btn-success Signup 

