include header1.jade

.container
  .row
    .col-lg-8.col-lg-offset-2
      .well
        form.form-horizontal.css-form(id='loginform')
          fieldset
            legend.text-default Hello Administrator! Welcome back
            .form-group
              .col-lg-12
                p.text-default Please input valid User Id & Password and then you would be able to Login
            .form-group
              label.col-lg-2.control-label(for='loginUserId') User id
              .col-lg-6
                input.form-control(type='text', id='loginUserId', placeholder='User id')
            .form-group
              label.col-lg-2.control-label(for='loginPassword') Password
              .col-lg-6
                input.form-control(type='password', id='loginPassword', placeholder='Your password')
            .form-group
              .col-lg-1.col-lg-offset-2
                button#signin_btn.btn.btn-lg.btn-success(type='submit') Login
            .form-group
              .col-lg-9.col-lg-offset-2
                p(id = "errtext3", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
footer
  .row
    .col-lg-3.col-lg-offset-5
      p © plugHRapp 2015 - All rights reserved
  .ajaxaction

div.ajaxaction
// /container
include scripts.jade

