include owner_header.jade

.container-fluid(role='main')
  input#licdata(type='text', name='licdata', value = "#{licdata}", style="visibility:hidden" )
  input#totmesgs(type='text', name='totmesgs', value = "#{totmesgs}", style="visibility:hidden" )
  .row-fluid
    .col-lg-12
      .well
        form#licenselist-form.form-horizontal
          fieldset
            legend.text-center.text-success Subscription plan
            .form-license
              .col-lg-12
                table#licenseTable.table.license.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#licensepages
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include owner_js.jade
script(src='../js/207_validator.js')

