include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
form#adddocs-form.form-horizontal(method="POST", action="/complogo", enctype="multipart/form-data")
  .row
    .col-lg-4.col-lg-offset-1
      .well
        .row
          .form-group
            .col-lg-10.col-lg-offset-1
              img#userpict.img-responsive.img-thumbnail(src='img/not_available.gif', alt='No Logo Uploaded', border='2', title='Company Logo')
        .row
          .form-group
            .col-lg-7.col-lg-offset-2
              a(id='selfile') click here to change logo
          .form-group
            .col-lg-2
              input#docfile(type='file', name='docfile', style="visibility:hidden;")
    .col-lg-6
      .well
        fieldset
          .row
            .col-lg-12
              legend.text-center Company Information
          //.row
            //.form-group
              //label.col-lg-3.control-label(for='cntry') Country
              //.col-lg-6
                //select#cntry-list.form-control(name='cntry')
                  //option(value=1,selected = true)= "India"
                  //option(value=2)= "Singapore"
          .row
            .form-group
              label.col-lg-3.control-label(for='ctype') Business Type
              .col-lg-6
                select#ctype-list.form-control(name='ctype')
                  option(value=1,selected = true)= "Listed Company"
                  option(value=2,selected = true)= "Unlisted Company"
                  option(value=3)= "LLP"
                  option(value=4)= "Partnership"
                  option(value=5)= "Proprietary firm"
                  option(value=6)= "Non-profit trust"
                  option(value=7)= "Non-profit society"
                  option(value=8)= "Non-profit section 8 company"
          .row
            .form-group
              label.col-lg-3.control-label(for='cname') Business Name
              .col-lg-8
                input#cname.form-control(type='text', name='cname', placeholder='Company Name')
          .row
            .form-group
              label.col-lg-3.control-label(for='cwebsite') Corporate Website
              .col-lg-8
                input#cwebsite.form-control(type='text', name='cwebsite', placeholder='Corporate Website')
          .row
            .form-group
              label.col-lg-3.control-label(for='abtus') About Company
              .col-lg-8
                textarea#abtus.form-control(name='abtus',rows='10', placeholder='Values, mission statement Or brief write-up about company history')
          .row
            .form-group
              label.col-lg-3.control-label(for='regaddr') Registered Address
              .col-lg-8
                textarea#regaddr.form-control(name='regaddr',rows='5', placeholder='')
          .row
            .form-group
              .col-lg-6.col-lg-offset-3
                button#upd_btn.btn-lg.btn-primary(type='button') Update
              .col-lg-1
                button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
              .col-lg-1
                input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
              .col-lg-1
                input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")
          .row
            .form-group
              .col-lg-11.col-lg-offset-1
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/208_validator.js')
