include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Office Locations
					.row
						.form-group
							label.col-lg-2.control-label(for='oname') Office Name
							.col-lg-3
								input#oname.form-control(type='text', name='oname', placeholder='Office Name', onChange="return capitaliseFirstLetter(this)")
							label.col-lg-2.control-label(for='chq') Corp HQ
							.col-lg-3
								select#chq-list.form-control(name='chq')
									option(value=1,selected = true)= "Yes"
									option(value=2)= "No"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')

					.row
						.form-group
							label.col-lg-2.control-label(for='aline1') Address
							.col-lg-3
								input#aline1.form-control(type='text', name='aline1', placeholder='Address')
							label.col-lg-2.control-label(for='aline2') 
							.col-lg-3
								input#aline2.form-control(type='text', name='aline2', placeholder='')
					.row
						.form-group
							label.col-lg-2.control-label(for='city') City
							.col-lg-3
								input#city.form-control(type='text', name='city', placeholder='City', onChange="return capitaliseFirstLetter(this)")
							label.col-lg-2.control-label(for='pincode') Pincode
							.col-lg-3
								input#pincode.form-control(type='text', name='pincode', placeholder='Pincode')
					.row
						.form-group
							label.col-lg-2.control-label(for='phone1') Phone #1
							.col-lg-3
								input#phone1.form-control(type='text', name='phone1', placeholder='Phone #1', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='phone2') Phone #2
							.col-lg-3
								input#phone2.form-control(type='text', name='phone2', placeholder='Phone #2', onkeypress="return isNumberKey(event)")
					.row
						.form-group
							label.col-lg-2.control-label(for='faxno') Fax No
							.col-lg-3
								input#faxno.form-control(type='text', name='faxno', placeholder='Fax No', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='cperson') Contact Person
							.col-lg-3
								input#cperson.form-control(type='text', name='cperson', placeholder='Contact Person', onChange="return capitaliseFirstLetter(this)")
					.row
						.form-group
							label.col-lg-2.control-label(for='ptno') PT number
							.col-lg-3
								input#ptno.form-control(type='text', name='ptno', placeholder='Professional Tax Number')
							label.col-lg-2.control-label(for='se') S & E details
							.col-lg-3
								input#se.form-control(type='text', name='se', placeholder='Shop & Establishment details')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.locations.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/209_validator.js')
