include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Message for team
					.row
						.form-group
							label.col-lg-2.control-label(for='mesg01') Message
							.col-lg-8
								textarea#mesg01.form-control(name='mesg01',rows='6', placeholder='Message')

					.row
						.form-group
							.col-lg-6.col-lg-offset-2
								button#upd_btn.btn-lg.btn-primary(type='button') Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction

include owner_js.jade
script(src='../js/211_validator.js')
