include owner_header.jade

input#membdata(type='text', name='membdata', value = '#{membdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Committees
					.row
						.form-group
							label.col-lg-2.control-label(for='cname') Committee Name
							.col-lg-3
								input#cname.form-control(type='text', name='cname', placeholder='Committee Name')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='purp') Purpose
							.col-lg-3
								textarea#purp.form-control(rows = '6', name='purp', placeholder='Purpose')
					.row
						.form-group
							label.col-lg-2.control-label(for='memb') Members
							.col-lg-3
								select#memb-list.form-control(name='memb', multiple='multiple')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.committees.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/214_validator.js')
