include owner_header.jade

input#deptdata(type='text', name='deptdata', value = '#{deptdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#adddocs-form.form-horizontal(method="POST", action="/indcdocsul", enctype="multipart/form-data")
				fieldset
					.row
						.col-lg-12
							legend.text-center Departmental Induction
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Title
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Title')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='itype') Induction Type
							.col-lg-3
								select#itype-list.form-control(name='itype')
									option(value=1,selected = true)= "Mandatory"
									option(value=2)= "Optional"
							label.col-lg-2.control-label(for='dept') Department
							.col-lg-3
								select#dept-list.form-control(name='dept')
					.row
						.form-group
							label.col-lg-2.control-label Document File
							.col-lg-7
								.input-group
									span.input-group-btn
										button#selectfile_btn.btn.btn-primary(type='button') Select File
									input#selfile.form-control(type='text', name='selfile', disabled = 'true')
						.form-group
							.col-lg-2
								input#docfile(type='file', name='docfile', style="visibility:hidden;")
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add Document
							.col-lg-1
								button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
							.col-lg-1
								input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
							.col-lg-1
								input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.induction.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/215_validator.js')

