include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-4.col-lg-offset-4
		.well
			form#addphoto-form.form-horizontal(method="POST", action="/userpictul", enctype="multipart/form-data")
				fieldset
					.row
						.form-group
							.col-lg-12
								legend.text-center Induction Document

.div#showdoc
	.col-lg-8.col-lg-offset-2
			iframe(src='https://view.officeapps.live.com/op/view.aspx?src=https%3A%2F%2Fonedrive.live.com%2Fredir%3Fresid%3Dbf904b73758d4de1%2521112', width='500', height='500', style='border:none')

div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/215doc_validator.js')

