include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#childtot(type='text', name='childtot', value = '#{childtot}', style='visibility:hidden')
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#adddocs-form.form-horizontal(method="POST", action="/polcdocsul", enctype="multipart/form-data")
				fieldset
					.row
						.col-lg-12
							legend.text-center Company Policies
					.row
						.col-lg-8.col-lg-offset-2
							p.text-center
								strong Only MS Word, PDF documents and image formats (JPG or PNG or TIFF) are allowed. File size should not exceed 5MB each.
					.row
						.form-group
							label.col-lg-2.control-label(for='pid') Policy ID
							.col-lg-3
								input#pid.form-control(type='text', name='pid', placeholder='Policy ID', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='ptitle') Policy Title
							.col-lg-3
								input#ptitle.form-control(type='text', name='ptitle', placeholder='Policy Title')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label Document File
							.col-lg-7
								.input-group
									span.input-group-btn
										button#selectfile_btn.btn.btn-primary(type='button') Select File
									input#selfile.form-control(type='text', name='selfile', disabled = 'true')
						.form-group
							.col-lg-2
								input#docfile(type='file', name='docfile', style="visibility:hidden;")
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add Document
							.col-lg-1
								button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
							.col-lg-1
								input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
							.col-lg-1
								input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.policies.table-bordered.table-striped.table-hover
								thead
								tbody


div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/216_validator.js')
