include owner_header.jade

input#deptdata(type='text', name='deptdata', value = '#{deptdata}', style='visibility:hidden')
input#mhsdata(type='text', name='mhsdata', value = '#{mhsdata}', style='visibility:hidden')
input#kradata(type='text', name='kradata', value = '#{kradata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Roles
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Role Title
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Role Title')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='rtype') Type
							.col-lg-3
								select#rtype-list.form-control(name='rtype')
									option(value=1,selected = true)= "Top Management"
									option(value=2)= "Function Head"
									option(value=3)= "Team Leader"
									option(value=4)= "Front line"
							label.col-lg-2.control-label(for='dept') Department
							.col-lg-3
								select#dept-list.form-control(name='dept', onchange='def_kra()')
					.row
						.form-group
							.col-lg-8.col-lg-offset-2
								h5.text-default Please select below, KRAs and the skills required to be successful in this role. You can also create new skills & KRAs. 
									| Please input a comma (,) to seperate each skill or KRA.
					.row
						.form-group
							label.col-lg-2.control-label(for='kra') KRAs
							.col-lg-3
								select#kra-list.form-control(name='kra', multiple='multiple')
							label.col-lg-2.control-label(for='mhs') Required Skills
							.col-lg-3
								select#mhs-list.form-control(name='mhs', multiple='multiple')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.roles.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include owner_js.jade
script(src='../js/217_validator.js')

