include owner_header.jade

input#onbdata(type='text', name='onbdata', size='1', value = '#{onbdata}', style='visibility:hidden')
input#empdata(type='text', name='empdata', size='1', value = '#{empdata}', style='visibility:hidden')
input#depdata(type='text', name='depdata', size='1', value = '#{depdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata',  size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata',  size='1', value = '#{locdata}', style='visibility:hidden')
input#skilldata(type='text', name='skilldata',  size='1', value = '#{skilldata}', style='visibility:hidden')
input#skrdata(type='text', name='skrdata',  size='1', value = '#{skrdata}', style='visibility:hidden')
input#currskills(type='text', name='currskills',  size='1', value = '#{currskills}', style='visibility:hidden')

input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages',  size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow',  size='1', value = '-1', style='visibility:hidden')

input#totusers(type='text', name='totusers',  size='1', value = '#{totusers}', style='visibility:hidden')
input#totlic(type='text', name='totlic',  size='1', value = '#{totlic}', style='visibility:hidden')
input#licv(type='text', name='licv',  size='1', value = '#{licv}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Employees
					.row
						.form-group
							label.col-lg-2.control-label(for='uname') User Name
							.col-lg-3
								input#uname.form-control(type='text', name='uname', placeholder='User Name')
							label.col-lg-2.control-label(for='email') Email ID
							.col-lg-3
								input#email.form-control(type='text', name='email', placeholder='Email ID')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='pass1') Password
							.col-lg-3
								input#pass1.form-control(type='password', name='pass', placeholder='Password')
							.col-lg-3.col-lg-offset-2
								input#pass2.form-control(type='password', name='pass', placeholder='Reconfirm Password')
					.row
						.form-group
							label.col-lg-2.control-label(for='dob') Date Of Birth
							.col-lg-3
								input#dob.form-control(type='text', name='dob', placeholder='Date Of Birth')
							label.col-lg-2.control-label(for='gender') Gender
							.col-lg-3
								select#gender-list.form-control(name='gender')
									option(value=1,selected = true)= "Male"
									option(value=2)= "Female"
					.row
						.form-group
							label.col-lg-2.control-label(for='dep') Department
							.col-lg-3
								select#dep-list.form-control(name='dep', onChange="def_role()")
							label.col-lg-2.control-label(for='role') Role
							.col-lg-3
								select#role-list.form-control(name='role', onChange="fillskillsData()")
					.row
						.form-group
							label.col-lg-2.control-label(for='loc') Location
							.col-lg-3
								select#loc-list.form-control(name='loc')
							label.col-lg-2.control-label(for='desg') Designation
							.col-lg-3
								input#desg.form-control(type='text', name='desg', placeholder='Designation')
					.row
						.form-group
							label.col-lg-2.control-label(for='jdate') Starting Date
							.col-lg-3
								input#jdate.form-control(type='text', name='jdate', placeholder='Starting date for employment')
							label.col-lg-2.control-label(for='probdate') Probation end date
							.col-lg-3
								input#probdate.form-control(type='text', name='probdate', placeholder='Probation end date')
					.row
						.form-group
							label.col-lg-2.control-label(for='sal') Salary (CTC)
							.col-lg-3
								input#sal.form-control(type='text', name='sal', placeholder='Salary (CTC)', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='etype') Employment Type
							.col-lg-3
								select#etype-list.form-control(name='etype')
									option(value=1,selected = true)= "Employee"
									option(value=2)= "Trainee"
									option(value=3)= "Intern"
									option(value=4)= "Contractor"
					.row
						.form-group
							label.col-lg-2.control-label(for='mgr') Reporting to
							.col-lg-3
								select#mgr-list.form-control(name='mgr')
							.col-lg-2.col-lg-offset-2
								button#skills_btn.btn.btn-default(type='button') Skills Rating

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

include 220modal.jade

div.ajaxaction

include owner_js.jade
script(src='../js/220_validator.js')

