include owner_header.jade

input#depdata(type='text', name='depdata', size='1', value = '#{depdata}', style='visibility:hidden')
input#locdata(type='text', name='locdata', size='1', value = '#{locdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata', size='1', value = '#{roledata}', style='visibility:hidden')
input#mgrdata(type='text', name='mgrdata', size='1', value = '#{mgrdata}', style='visibility:hidden' )
input#skilldata(type='text', name='skilldata',  size='1', value = '#{skilldata}', style='visibility:hidden')
input#skrdata(type='text', name='skrdata',  size='1', value = '#{skrdata}', style='visibility:hidden')
input#currskills(type='text', name='currskills',  size='1', value = '#{currskills}', style='visibility:hidden')

input#formdata(type='text', name='formdata', size='1', value = '', style='visibility:hidden' )
input#listquery(type='text', name='listquery', size='1', value = '', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1', value = '', style='visibility:hidden' )
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Manage organisation structure
					.row
						.form-group
							label.col-lg-2.control-label(for='uid') User id
							.col-lg-3
								input#uid.form-control(type='text', name='uid', placeholder='User id', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='uname') User Name
							.col-lg-3
								input#uname.form-control(type='text', name='uname', placeholder='User Name')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='mgr') Reporting To
							.col-lg-3
								input#mgr.form-control(type='text', name='mgr', placeholder='')
							label.col-lg-2.control-label(for='dep') Department
							.col-lg-3
								select#dep-list.form-control(name='dep')
					.row
						.form-group
							label.col-lg-2.control-label(for='loc') Work location
							.col-lg-3
								select#loc-list.form-control(name='loc')
					.row
						.form-group
							h5.text-primary.col-lg-8.col-lg-offset-2 Please input value in one field only. System will get data based on the first non-empty field and ignores values in subsequent fields.

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-success(type='submit') Search
							.col-lg-2
								button#clear_btn.btn.btn-info(type='submit') Clear Form
							.col-lg-6
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

include 221modal.jade

div.ajaxaction

include owner_js.jade
script(src='../js/221_validator.js')
