#MesgModel.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-success Update user organisation
      .modal-body
        form#updemp-form.form-horizontal
          fieldset
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='uid') User ID
                .col-lg-6
                  input#modal_uid.form-control(type='text',disabled,  name='uid', placeholder='User ID')
                .col-lg-1
                  input#modal_prev_role.form-control(type='text',disabled,  name='prev_role', style='visibility:hidden')
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='sdate') Effective From
                .col-lg-6
                  input#modal_sdate.form-control(type='text', name='sdate', placeholder='Effective From')
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='dept') Department
                .col-lg-6
                  select#modal_dept-list.form-control(name='dept', onChange="def_role(this)")
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='loc') Location
                .col-lg-6
                  select#modal_loc-list.form-control(name='loc')
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='role') Role
                .col-lg-6
                  select#modal_role-list.form-control(name='role', onChange="getskillsData()")
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='mgr') Reporting to
                .col-lg-6
                  select#modal_mgr-list.form-control(name='mgr')
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='etype') Employment Type
                .col-lg-5
                  select#modal_etype-list.form-control(name='etype')
                    option(value=1,selected = true)= "Employee"
                    option(value=2)= "Trainee"
                    option(value=3)= "Intern"
                    option(value=4)= "Contractor"
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='sal') Salary CTC
                .col-lg-6
                  input#modal_sal.form-control(type='text', name='sal', placeholder='New Salary (CTC)', onkeypress="return isNumberKey(event)")
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='ctype') Purpose of change
                .col-lg-6
                  select#modal_ctype-list.form-control(name='ctype')
                    option(value=2,selected = true)= "Transfer"
                    option(value=3)= "Reorganisation"
                    option(value=4)= "Promotion"
                    option(value=5)= "Demotion"
                    option(value=6)= "Others"
            .row
              .form-group
                label.col-lg-3.col-lg-offset-1.control-label(for='cmts') Comments
                .col-lg-6
                  textarea#modal_comments.form-control(rows='3', name='comments')
            .row
              .form-group
                .col-lg-10.col-lg-offset-1
                  p(id = 'errtext2', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Close
        button#upd_btn.btn.btn-primary(type='button') Update

