include owner_header.jade

input#codata(type='text', name='codata', size='1', value = '#{codata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Holiday List
					.row
						.form-group
							label.col-lg-2.control-label(for='hname') Name
							.col-lg-3
								input#hname.form-control(type='text', name='hname', placeholder='Name')
							label.col-lg-2.control-label(for='htype') Holiday Type
							.col-lg-3
								select#htype-list.form-control(name='htype')
									option(value=1,selected = true)= "Mandatory"
									option(value=2)= "Optional"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='date') Date
							.col-lg-3
								input#date.form-control(type='text', name='date', placeholder='Date')
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.holidaylist.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/222_validator.js')

