include owner_header.jade

input#appofficedata(type='text', name='appofficedata', value = '#{appofficedata}', style='visibility:hidden')
input#selholidaysdata(type='text', name='selholidaysdata', value = '#{selholidaysdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Holiday Policy
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Title
							.col-lg-3
								input#htitle.form-control(type='text', name='htitle', placeholder='Policy Title')
							label.col-lg-2.control-label(for='maxopholidays') Max allowed optional holidays
							.col-lg-3
								input#maxopholidays.form-control(type='text', name='maxopholidays', placeholder='Max allowed optional holidays', onkeypress="return isNumberKey(event)")
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='validfrom') Valid From
							.col-lg-3
								input#validfrom.form-control(type='text', name='validfrom', placeholder='Valid From')
							label.col-lg-2.control-label(for='validto') Valid To
							.col-lg-3
								input#validto.form-control(type='text', name='validto', placeholder='Valid To')
					.row
						.form-group
							label.col-lg-2.control-label(for='appoffice') Applicable to
							.col-lg-3
								select#appoffice-list.form-control(name='appoffice', multiple='multiple')
							label.col-lg-2.control-label(for='selholidays') Select Holiday(s)
							.col-lg-3
								select#selholidays-list.form-control(name='selholidays', multiple='multiple')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.holidaypolicy.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/223_validator.js')

