include owner_header.jade
input#formdata(type='text', name='formdata', size='1', value = '', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Pre-launch Setup dashboard
					.row
						.form-group
							.col-lg-12
								table#listTable.table.wizard.table-bordered.table-striped.table-hover
									thead
									tbody
								ul#listpages
					.row
						.form-group
							.col-lg-2.col-lg-offset-5
								button#add_btn.btn-lg.btn-success(type='submit') &nbsp;&nbsp;&nbsp;&nbsp;Launch Now&nbsp;&nbsp;&nbsp;&nbsp;
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction

include owner_js.jade
script(src='../js/224_validator.js')
