include owner_header.jade

input#locdata(type='text', name='locdata', size='1', value = '#{locdata}', style='visibility:hidden')
input#deptdata(type='text', name='deptdata', size='1',value = '#{deptdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1',value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Current Manpower Report
					.row
						.form-group
							label.col-lg-2.control-label(for='loc') Select Location
							.col-lg-2
								select#loc-list.form-control(name='loc')
							label.col-lg-2.control-label(for='etype') Select Employment Type
							.col-lg-2
								select#etype-list.form-control(name='etype')
									option(value=1,selected = true)= "Employee"
									option(value=2)= "Trainee"
									option(value=3)= "Intern"
									option(value=4)= "Contractor"

							.col-lg-1.col-lg-offset-1
								button#search_btn.btn.btn-success(type='button') Show manpower
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/225_validator.js')

