doctype html
html(lang='en')
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='description', content='')
	meta(name='author', content='')
	link(rel='shortcut icon', href='img/favicon.ico')
	title plugHRapp - Streamlined HR

	include owner_css.jade

body
	// Fixed navbar
	nav.navbar.navbar-default.navbar-static-top
		.container-fluid
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.navbar-brand
					a(href='/')
						img.img-responsive.img-square(src='img/logo.jpg')
		.row-fluid
			br
			input#formdata(type='text', name='formdata', size='1',  value = '#{formdata}', style='visibility:hidden' )
			input#depdata(type='text', name='depdata', size='1', value = '#{depdata}', style='visibility:hidden')
			input#roledata(type='text', name='roledata',  size='1', value = '#{roledata}', style='visibility:hidden')
			input#locdata(type='text', name='locdata',  size='1', value = '#{locdata}', style='visibility:hidden')
			input#skilldata(type='text', name='skilldata', size='1',  value = '#{skilldata}', style='visibility:hidden')
			input#totpages(type='text', name='totpages', size='1',  value = '#{totpages}', style='visibility:hidden' )
			input#docsdata(type='text', name='docsdata', size='1',  value = '', style='visibility:hidden' )

		.row-fluid
			.col-lg-12
				.well
					form#player-partners-form.form-horizontal
						fieldset
							.row
								.col-lg-12
									.form-group
										legend.text-center#uName
							.row
								.col-lg-3
									.form-group
										.col-lg-8.col-lg-offset-2
											img#userpict.img-responsive.img-thumbnail(src='img/not_available.gif', alt='No Photo Uploaded', width='200%', border='2', title='User Photo')
								.col-lg-9
									.form-group
										label.col-lg-2.control-label(for='pint') Personal Interests
										.col-lg-9
											select#pint-list.form-control(name='pint', multiple='multiple')
												option(value=1)= "Listening To Classical Music"
												option(value=2)= "Listening To Film Music"
												option(value=3)= "Stamp Collection"
												option(value=4)= "Coin Collection"
												option(value=5)= "Reading Books - Fiction"
												option(value=6)= "Reading Books - Non-Fiction"
												option(value=7)= "Playing Musical Instruments"
												option(value=8)= "Writing Diary"
												option(value=9)= "Gardening"
												option(value=10)= "Photography - Wildlife, Nature, Portrait"
												option(value=11)= "Dancing"
												option(value=12)= "Watching TV"
												option(value=13)= "Writing Poems"
												option(value=14)= "Politics"
												option(value=15)= "Business and Economics"
												option(value=16)= "Stocks and Investing"
												option(value=17)= "Painting"
												option(value=18)= "Watching Movies"
												option(value=19)= "Cooking"
												option(value=20)= "Collecting Antiques"
												option(value=21)= "Knitting"
												option(value=22)= "Sewing"
												option(value=23)= "Making Crafts"
												option(value=24)= "Chatting"
												option(value=25)= "Playing Cards"
												option(value=26)= "Doing Magic"
												option(value=27)= "Watching Cartoons"
												option(value=28)= "Adventurous Sports"
												option(value=29)= "Collecting Pens"
												option(value=30)= "Fishing"
												option(value=31)= "Horse Riding"
												option(value=32)= "Playing Computer Games"
												option(value=33)= "Playing Football"
												option(value=34)= "Playing Volleyball"
												option(value=35)= "Playing Basket Ball"
												option(value=36)= "Playing Cricket"
												option(value=37)= "Playing Tennis"
												option(value=38)= "Playing Badmitton"
												option(value=39)= "Playing Golf"
												option(value=40)= "Running / Jogging"
												option(value=41)= "Going for a Long Drive"
												option(value=42)= "Playing Chess"
												option(value=43)= "Collecting Postcards"
												option(value=44)= "Star Gazing"
												option(value=45)= "Traveling and Exploring New Places"
												option(value=46)= "Flying Kites"
												option(value=47)= "Drawing and Sketching"
									.row
										.form-group
											label.col-lg-2.control-label.text-left(for='emername') Emergency Contact
									.row
										.form-group
											label.col-lg-1.control-label(for='emername') Name
											.col-lg-3
												input#emername.form-control(type='text', name='emername', placeholder='Emergency Contact Name')
											label.col-lg-2.control-label(for='emerrel') Relationship
											.col-lg-2
												input#emerrel.form-control(type='text', name='emerrel', placeholder='Relationship')
											label.col-lg-1.control-label(for='emermob') Mobile
											.col-lg-2
												input#emermob.form-control(type='text', name='emermob', placeholder='Mobile Number')

							.row
								hr
								.col-lg-12
									.row
										.form-group
											label.col-lg-1.control-label(for='emailid') Email ID
											.col-lg-3
												input#emailid.form-control(type='text', name='emailid', placeholder='Email ID')
											label.col-lg-2.control-label(for='mobno') Mobile Number
											.col-lg-3
												input#mobno.form-control(type='text', name='mobno', placeholder='Mobile Number')
									.row
										.form-group
											label.col-lg-1.control-label(for='gender') Gender
											.col-lg-3
												select#gender-list.form-control(name='gender')
													option(value=1,selected = true)= "Male"
													option(value=2)= "Female"
											label.col-lg-2.control-label(for='dob') Date Of Birth
											.col-lg-3
												input#dob.form-control(type='text', name='dob', placeholder='Date Of Birth')
											label.col-lg-1.control-label(for='bgrp') Blood Group
											.col-lg-1
												select#bgrp-list.form-control(name='bgrp')
													option(value=1,selected = true)= "O-"
													option(value=2)= "O+"
													option(value=3)= "A-"
													option(value=4)= "A+"
													option(value=5)= "B-"
													option(value=6)= "B+"
													option(value=7)= "AB-"
													option(value=8)= "AB+"
									.row
										.form-group
											label.col-lg-1.control-label(for='dep') Department
											.col-lg-3
												input#dept.form-control(type='text', name='dep')
											label.col-lg-2.control-label(for='role') Role
											.col-lg-3
												input#role.form-control(type='text', name='role')
									.row
										.form-group
											label.col-lg-1.control-label(for='loc') Location
											.col-lg-3
												input#loc.form-control(type='text', name='loc')
											label.col-lg-2.control-label(for='desg') Designation
											.col-lg-3
												input#desg.form-control(type='text', name='desg')
									.row
										.form-group
											label.col-lg-1.control-label(for='jdate') Date Joined
											.col-lg-3
												input#jdate.form-control(type='text', name='jdate', placeholder='Date Joined')
											label.col-lg-2.control-label(for='etype') Employment Type
											.col-lg-3
												select#etype-list.form-control(name='etype')
													option(value=1,selected = true)= "Full-time"
													option(value=2)= "Part-time"
													option(value=3)= "Freelancing"
									.row
										.form-group
											label.col-lg-1.control-label(for='exprt') Expert in
											.col-lg-10
												select#exprt-list.form-control(name='exprt', multiple='multiple')
									.row
										.form-group
											label.col-lg-1.control-label(for='vprof') Very Proficient in
											.col-lg-10
												select#vprof-list.form-control(name='vprof', multiple='multiple')
									.row
										.form-group
											label.col-lg-1.control-label(for='prof') Proficient in
											.col-lg-10
												select#prof-list.form-control(name='prof', multiple='multiple')
									.row
										.form-group
											label.col-lg-1.control-label(for='sexp') Some experience in
											.col-lg-10
												select#sexp-list.form-control(name='sexp', multiple='multiple')
									.row
										.form-group
											label.col-lg-1.control-label(for='noexp') Not experienced in
											.col-lg-10
												select#noexp-list.form-control(name='noexp', multiple='multiple')
									.row
										.form-group
											label.col-lg-1.control-label(for='acard') Aadhaar Card number
											.col-lg-3
												input#acard.form-control(type='text', name='acard', placeholder='Aadhaar Card number')
											label.col-lg-2.control-label(for='panno') PAN Card number
											.col-lg-3
												input#panno.form-control(type='text', name='panno', placeholder='PAN Card number')
									.row
										.form-group
											label.col-lg-1.control-label(for='ppno') Passport number
											.col-lg-3
												input#ppno.form-control(type='text', name='ppno', placeholder='Passport number')
											label.col-lg-2.control-label(for='ppidate') Date of Issue
											.col-lg-2
												input#ppidate.form-control(type='text', name='ppidate', placeholder='Date of Issue')
											label.col-lg-1.control-label(for='ppedate') Valid Upto
											.col-lg-2
												input#ppedate.form-control(type='text', name='ppedate', placeholder='Valid Upto')
									.row
										hr
										.col-lg-6
											.row
												.form-group
													label.col-lg-4.control-label(for='pal1') Permanent Address
													.col-lg-6
														input#pal1.form-control(type='text', name='pal1', placeholder='Permanent Address')
											.row
												.form-group
													label.col-lg-4.control-label(for='pal2')
													.col-lg-6
														input#pal2.form-control(type='text', name='pal2', placeholder='ALine2')
											.row
												.form-group
													label.col-lg-4.control-label(for='pcity') City
													.col-lg-6
														input#pcity.form-control(type='text', name='pcity', placeholder='City')
											.row
												.form-group
													label.col-lg-4.control-label(for='ppin') Pincode
													.col-lg-6
														input#ppin.form-control(type='text', name='ppin', placeholder='Pincode')

										.col-lg-6
											.row
												.form-group
													label.col-lg-4.control-label(for='cal1') Current Address
													.col-lg-6
														input#cal1.form-control(type='text', name='cal1', placeholder='Current Address')
											.row
												.form-group
													label.col-lg-4.control-label(for='cal2')
													.col-lg-6
														input#cal2.form-control(type='text', name='cal2', placeholder='CAddr Line 2')
											.row
												.form-group
													label.col-lg-4.control-label(for='ccity') City
													.col-lg-6
														input#ccity.form-control(type='text', name='ccity', placeholder='City')
											.row
												.form-group
													label.col-lg-4.control-label(for='cpin') Pincode
													.col-lg-6
														input#cpin.form-control(type='text', name='cpin', placeholder='Pincode')
									.row
										.form-group
											.col-lg-1.col-lg-offset-2
												button#showdocs_btn.btn.btn-primary(type='submit') Show Documents
											.col-lg-6.col-lg-offset-1
												p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
											.col-lg-1
												input#ucoid(type='text', name='ucoid', style="visibility:hidden")
											.col-lg-1
												input#uuserid(type='text', name='uuserid', style="visibility:hidden")

		.row-fluid
			.col-lg-12
				.well
					form#listTable-form.form-horizontal
						fieldset
							.row
								.col-lg-12
									.form-group
										legend.text-center Documents uploaded by user
							.row
								.col-lg-12
									.form-group
										.col-lg-12
											table#listTable.table.userdocs.table-bordered.table-striped.table-hover
												thead
												tbody
											ul#listpages


		div.ajaxaction

		include owner_js.jade
		script(src='../js/226user_validator.js')


