include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			.row
				.form-group
					.col-lg-6.col-lg-offset-3
						p#cfile.text-info 
						<!-- 16:9 aspect ratio -->
						.embed-responsive.embed-responsive-16by9
								iframe#indcdoc.embed-responsive-item(src='')
.row-fluid
	.col-lg-12
		.well
			form#adddocs-form.form-horizontal(method="POST", action="/228upd", enctype="multipart/form-data")
				fieldset
					.row
						.col-lg-12
							legend.text-center Company Induction
					.row
						.form-group
							label.col-lg-2.control-label Document File
							.col-lg-7
								.input-group
									span.input-group-btn
										button#selectfile_btn.btn.btn-primary(type='button') select File
									input#selfile.form-control(type='text', name='selfile', disabled = 'true')
							.col-lg-1
								button#add_btn.btn.btn-primary(type='submit') Save
						.form-group
							.col-lg-6.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
					.row
						.form-group
							.col-lg-2
								input#docfile(type='file', name='docfile', style="visibility:hidden;")
							.col-lg-1
								button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
							.col-lg-1
								input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
							.col-lg-1
								input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")
							.col-lg-1
								input#currfile(type='text', name='currfile', value = "", style="visibility:hidden")
div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/228_validator.js')
