include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Induction Questions
					.row
						.form-group
							label.col-lg-2.control-label(for='qtext') Question
							.col-lg-3
								textarea#qtext.form-control(row='3', name='qtext', placeholder='Question')
							label.col-lg-2.control-label(for='ans') Correct Answer(s)
							.col-lg-3
								select#ans.form-control(name='ans', multiple='multiple')
									option(value=1)= "Answer 1"
									option(value=2)= "Answer 2"
									option(value=3)= "Answer 3"
									option(value=4)= "Answer 4"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='a1text') Answer 1
							.col-lg-3
								input#a1text.form-control(type='text', name='a1text', placeholder='Answer 1')
							label.col-lg-2.control-label(for='a2text') Answer 2
							.col-lg-3
								input#a2text.form-control(type='text', name='a2text', placeholder='Answer 2')
					.row
						.form-group
							label.col-lg-2.control-label(for='a3text') Answer 3
							.col-lg-3
								input#a3text.form-control(type='text', name='a3text', placeholder='Answer 3')
							label.col-lg-2.control-label(for='a4text') Answer 4
							.col-lg-3
								input#a4text.form-control(type='text', name='a4text', placeholder='Answer 4')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.iquestions.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/229_validator.js')

