include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Leaves types
          .row
            .form-group
              label.col-lg-2.control-label(for='lname') Name
              .col-lg-3
                input#lname.form-control(type='text', name='lname', placeholder='Name', onChange="return capitaliseFirstLetter(this)")
              label.col-lg-2.control-label(for='lper-list') Accrual period
              .col-lg-2
                select#lper-list.form-control(name='lper-list')
                  option(value=1,selected = true)= "Fixed days per year"
                  option(value=2)= "Quarterly"
                  option(value=3)= "Monthly"
                  option(value=4)= "Weekly"
              label.col-lg-1.control-label(for='ldays') Accural rate
              .col-lg-2
                input#ldays.form-control(type='text', name='ldays', placeholder='Accrual Days', onkeypress="return isNumberKey(event)")
          .row
            .form-group
              label.col-lg-2.control-label(for='lctr') Availing Criteria
              .col-lg-3
                textarea#lctr.form-control.text-left(rows = '3', name='lctr', placeholder='Availing Criteria')
              label.col-lg-2.control-label(for='lper-list') Who can avail this leave?
              .col-lg-3
                select#etype-list.form-control(name='etype-list', multiple='multiple')
                  option(value=1)= "Employee"
                  option(value=2)= "Trainee"
                  option(value=3)= "Intern"
                  option(value=4)= "Contractor"
              .col-lg-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
          .row
            .form-group
              .col-lg-3.col-lg-offset-2.text-left
                input#probuser(type='checkbox')
                span.text-default &nbsp;&nbsp;Employees on probation can avail this leave
              .col-lg-2.text-left
                input#preh(type='checkbox', name='preh', style='visibility:hidden')
                //span.text-default &nbsp;&nbsp;Inlude preceeding holidays
              .col-lg-2.text-left
                input#inth(type='checkbox', name='inth', style='visibility:hidden')
                //span.text-default &nbsp;&nbsp;Inlude intervening holidays
              .col-lg-2.text-left
                input#such(type='checkbox', name='such', style='visibility:hidden')
                //span.text-default &nbsp;&nbsp;Inlude succeeding holidays
          .row
            .form-group
              label.col-lg-2.control-label(for='maxl') Max consecutive leaves 
              .col-lg-1
                input#maxl.form-control(type='text', name='maxl', placeholder='Days', onkeypress="return isNumberKey(event)")
              label.col-lg-2.control-label(for='negl') Negative leaves limit
              .col-lg-1
                input#negl.form-control(type='text', name='negl', placeholder='Days', onkeypress="return isNumberKey(event)")
              label.col-lg-2.control-label(for='alimit') Max carry forward
              .col-lg-1
                input#alimit.form-control(type='text', name='alimit', placeholder='Days', onkeypress="return isNumberKey(event)")
              label.col-lg-1.control-label(for='maxtr') Max Transfers
              .col-lg-1
                input#maxtr.form-control(type='text', name='maxtr', placeholder='Days', onkeypress="return isNumberKey(event)")
          .row
            .form-group
          .row
            .form-group
              .col-lg-2.col-lg-offset-2
                button#add_btn.btn.btn-primary(type='submit') Add New
              .col-lg-3
                button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
              .col-lg-2
                button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
          .row
            .form-group
              .col-lg-9.col-lg-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .form-group
            .col-lg-12
              table#listTable.table.leavetypes.table-bordered.table-striped.table-hover
                thead
                tbody
              ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/230_validator.js')
