include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Review Periods
          .row
            .form-group
              .col-lg-12
                table#listTable.table.revperiod.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#listpages
          .row
            .form-group
              .col-lg-10.col-lg-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction


include owner_js.jade
script(src='../js/231_validator.js')
