include owner_header.jade

input#userdata(type='text', name='userdata', size='1', value = '#{userdata}', style='visibility:hidden')
input#ltypedata(type='text', name='ltypedata', value = '#{ltypedata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Leave balances setup
					.row
						.form-group
							label.col-lg-2.control-label(for='role') Select user
							.col-lg-3
								select#user-list.form-control(name='user')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Search
							.col-lg-2
								button#clear_btn.btn.btn-success(type='submit') Clear Search
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.form-group
							label.col-lg-2.control-label(for='ltype') Select Leave type
							.col-lg-3
								select#ltype-list.form-control(name='ltype', disabled)
							label.col-lg-2.control-label(for='pbal') Previous Balance
							.col-lg-1
								input#pbal.form-control(type='text', name='pbal', placeholder='Balance', onkeypress="return isNumberKey(event)", disabled)
							label.col-lg-1.control-label(for='used') Availed
							.col-lg-1
								input#used.form-control(type='text', name='used', placeholder='Availed', onkeypress="return isNumberKey(event)", disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit', disabled) Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.emplvbal.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/234_validator.js')
