include owner_header.jade

.container.theme-showcase(role='main')
  .row-fluid
    .col-lg-12
      .well
        form#students-form.form-horizontal
          fieldset
            legend.highlight.text-success Organisation structure view
              div#chart_div

div.ajaxaction

include owner_js.jade
script(src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['orgchart']}]}")
script(src='../js/236_validator.js')


