include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Manage Probations
					.row
						.form-group
							label.col-lg-2.control-label(for='uname') User Name
							.col-lg-3
								input#uname.form-control(type='text', disabled, name='uname', placeholder='User Name')
							label.col-lg-2.control-label(for='usrid') User ID
							.col-lg-3
								input#usrid.form-control(type='text',  disabled, name='usrid', placeholder='User ID')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='probdate') Probation end date
							.col-lg-3
								input#probdate.form-control(type='text', name='probdate', placeholder='Probation end date')
							label.col-lg-2.control-label(for='sts') Probation Status
							.col-lg-3
								select#sts-list.form-control(name='sts')
									option(value=1,selected = true)= "On Probation"
									option(value=2)= "Confirmed"

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/237_validator.js')
