include owner_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden')
input#skilldata(type='text', name='skilldata', value = '#{skilldata}', style='visibility:hidden')
input#skrdata(type='text', name='skrdata', value = '#{skrdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Initiate employee exit
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select employee
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#init_btn.btn.btn-primary(type='submit') Initiate
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

div.ajaxaction

include owner_js.jade
script(src='../js/238_validator.js')

