include owner_header.jade

input#rperioddata(type='text', size='1', name='rperioddata', value = '#{rperioddata}', style='visibility:hidden')
input#usrdata(type='text', size='1', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#sgoaldata(type='text', size='1', name='sgoaldata', value = '#{sgoaldata}', style='visibility:hidden')
input#ugoaliddata(type='text', size='1', name='ugoaliddata', value = '#{ugoaliddata}', style='visibility:hidden')
input#formdata(type='text', size='1', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', size='1', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', size='1', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Set Targets
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							label.col-lg-2.control-label(for='usr') Select User
							.col-lg-3
								select#usr-list.form-control(name='usr')
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-success(type='submit') Search for targets
							.col-lg-3
								button#clear_btn.btn.btn-danger(type='button') Clear Search
							.col-lg-2
								button#commit_btn.btn.btn-success(type='button' disabled) Commit Performance Targets
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.form-group
							label.col-lg-2.control-label(for='ugoalid') Pick a performance indicator
							.col-lg-3
								select#ugoalid-list.form-control(name='ugoalid', disabled)
							label.col-lg-2.control-label(for='sgoal') Link to Supervisor's target
							.col-lg-3
								select#sgoal-list.form-control(name='sgoal', disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='meets') Expected Performance
							.col-lg-3
								textarea#meets.form-control(rows = '4', name='meets', placeholder='What\'s the target?', disabled)
							label.col-lg-2.control-label(for='wt') Weightage (%)
							.col-lg-3
								input#wt.form-control(type='text', name='wt', placeholder='Weightage (%)', onkeypress="return isNumberKey(event)", disabled)
							.col-lg-1
								input#prev_wt.form-control(type='text', name='prev_wt', disabled, style='visibility:hidden')
					.row
						.form-group
							.col-lg-2.col-lg-offset-1
								button#add_btn.btn.btn-primary(type='button', disabled) Add New
							.col-lg-2
								button#upd_btn.btn.btn-success(type='button', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
							.col-lg-2
								button#doc_btn.btn.btn-primary(type='button', disabled) Upload Incentives Plan
							.col-lg-2
								button#view_btn.btn.btn-primary(type='button', disabled) View Incentives Plan

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

include 239modal.jade

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.usergoals.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/239_validator.js')
