include owner_header.jade

input#usrdata(type='text', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Setup & Manage PIPs
					.row
						.form-group
							label.col-lg-2.control-label(for='usr') Select Employee
							.col-lg-3
								select#usr-list.form-control(name='usr')
							label.col-lg-2.control-label(for='sts') Status
							.col-lg-3
								select#sts-list.form-control(name='sts')
									option(value=1,selected = true)= "Open"
									option(value=2)= "Closed"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='sdt') Start Date
							.col-lg-3
								input#sdt.form-control(type='text', name='sdt', placeholder='Start Date')
							label.col-lg-2.control-label(for='edt') End Date
							.col-lg-3
								input#edt.form-control(type='text', name='edt', placeholder='End Date')
					.row
						.form-group
							label.col-lg-2.control-label(for='rsn') Reason for PIP
							.col-lg-3
								textarea#rsn.form-control(rows = '6', name='rsn', placeholder='Reason for PIP')
							label.col-lg-2.control-label(for='cmts') Comments
							.col-lg-3
								textarea#cmts.form-control(rows = '6', name='cmts', placeholder='HR Comments')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.userpips.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/240_validator.js')
