#StatusModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Open / Close PIPs
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-2.col-lg-offset-1.control-label(for='status') Status
								.col-lg-3
									select#status.form-control(name='status')
										option(value=1,selected = true)= "Close"
										option(value=0)= "Open"
								.col-lg-1
									input#modal_dbid1.form-control(type='text', name='dbid1', style='visibility:hidden')
						.row
							.form-group
								.col-lg-10.col-lg-offset-1
									p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#statusupd_btn.btn.btn-primary(type='button') Update

