include owner_header.jade

input#eactdata(type='text', name='eactdata', value = '#{eactdata}', style='visibility:hidden')
input#repldata(type='text', name='repldata', value = '#{repldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Currently active resignations
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
					.row
						.form-group
							.col-lg-12
								table#listTable.table.exits.table-bordered.table-striped.table-hover
									thead
									tbody
								ul#listpages

include 241modal.jade

div.ajaxaction

include owner_js.jade
script(src='../js/241_validator.js')
