#EActModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			#section-to-print
				.modal-header
					h4#titletxt.modal-title.text-success.text-center Exit Activities
					h5#ptext1.text-success.text-center -
					h5#ptext2.text-success.text-center -
				.modal-body
					form#updemp-form.form-horizontal
						fieldset
							.form-group
								.col-lg-12
									table#listTable.table.eacts.table-bordered.table-striped.table-hover
										thead
										tbody

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#print_btn.btn.btn-primary(type='button') Print

