include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Salary Components
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Title
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Title', onChange="return capitaliseFirstLetter(this)")
							.col-lg-4.col-lg-offset-2
								input#isb(type='checkbox')
								label.col-lg-offset-1.h4.text-primary This component represents Basic Salary
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='desc') Description
							.col-lg-3
								textarea#desc.form-control(rows = '3', name='desc', placeholder='Description')
							label.col-lg-2.control-label(for='type') Component Type
							.col-lg-3
								select#type-list.form-control(name='type')
									option(value=1,selected = true)= "Earnings"
									option(value=2)= "Deductions"
					.row
						.form-group
							label.col-lg-2.control-label(for='calc') Computation Type
							.col-lg-3
								select#calc-list.form-control(name='calc')
									option(value=1,selected = true)= "% of CTC"
									option(value=2)= "% of Basic"
									option(value=3)= "Fixed Value"
							label.col-lg-2.control-label(for='cval') Computation Value
							.col-lg-3
								input#cval.form-control(type='text', name='cval', placeholder='Computation Value', onkeypress="return isNumberKey(event)")
					.row
						.form-group
							label.col-lg-2.control-label(for='ymax') Max limit per year
							.col-lg-3
								input#ymax.form-control(type='text', name='ymax', placeholder='Max limit per year', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='catg') Category
							.col-lg-3
								select#catg-list.form-control(name='catg')
									option(value=1,selected = true)= "Fixed Component"
									option(value=2)= "Variable Component"

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.salcomp.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/245_validator.js')
