include owner_header.jade

input#strudata(type='text', name='strudata', value = '#{strudata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Monthly Salaries
					.row
						.form-group
							label.col-lg-1.col-lg-offset-1.control-label(for='mon') Select Month
							.col-lg-1
								select#mon-list.form-control(name='mon')
									option(value=1,selected = true)= "January"
									option(value=2)= "February"
									option(value=3)= "March"
									option(value=4)= "April"
									option(value=5)= "May"
									option(value=6)= "June"
									option(value=7)= "July"
									option(value=8)= "August"
									option(value=9)= "September"
									option(value=10)= "October"
									option(value=11)= "November"
									option(value=12)= "December"
							label.col-lg-1.col-lg-offset-1.control-label(for='year') Select Year
							.col-lg-1
								select#year-list.form-control(name='year')
									option(value=1,selected = true)= "2015"
									option(value=2)= "2016"
									option(value=2)= "2017"
									option(value=2)= "2018"
									option(value=2)= "2019"
									option(value=2)= "2020"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-1.col-lg-offset-1.control-label(for='usr') User ID
							.col-lg-1
								input#usr.form-control(type='text', name='usr', placeholder='User ID', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='year') Select Salary Structure
							.col-lg-1
								select#stru-list.form-control(name='stru')
							.col-lg-2
								button#search_btn.btn.btn-primary(type='submit') Get salary data
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.salaries.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/246_validator.js')
