include owner_header.jade

input#usrdata(type='text', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#indcdata(type='text', name='indcdata', value = '#{indcdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Induction test results
					.row
						.form-group
							label.col-lg-2.control-label(for='usr') Select employee
							.col-lg-3
								select#usr-list.form-control(name='usr')
							label.col-lg-2.control-label(for='indc') Select Induction
							.col-lg-3
								select#indc-list.form-control(name='indc')
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-primary(type='submit') Show Results
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.deptindcq.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/255_validator.js')
