include owner_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Employee Documents
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select user
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Search
							.col-lg-2
								button#clear_btn.btn.btn-primary(type='submit') Clear Search

.row-fluid
	.col-lg-12
		.well
			form#adddocs-form.form-horizontal(method="POST", action="/compdocsul", enctype="multipart/form-data")
				fieldset
					.row
						.col-lg-8.col-lg-offset-2
							p.text-center
								strong Only MS Word, PDF documents and image formats (JPG or PNG or TIFF) are allowed. File size should not exceed 5MB each.
					.row
						.form-group
							label.col-lg-2.control-label(for='catg') Category
							.col-lg-3
								select#catg-list.form-control(name='catg', disabled)
									option(value=11,selected = true)= "Official Documents"
									option(value=12)= "Special Documents"
							label.col-lg-2.control-label(for='desc') Description
							.col-lg-3
								input#desc.form-control(type='text', name='desc', placeholder='Description', disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label Document File
							.col-lg-3
								.input-group
									span.input-group-btn
										button#selectfile_btn.btn.btn-primary(type='button', disabled) Select File
									input#selfile.form-control(type='text', name='selfile', disabled = 'true')
							.col-lg-2
								button#add_btn.btn.btn-primary(type='submit', disabled) Add Document
							.col-lg-2
								input#docfile(type='file', name='docfile', style="visibility:hidden;")
							.col-lg-1
								button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
							.col-lg-1
								input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
							.col-lg-1
								input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.userdocs.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include owner_js.jade
script(src='../js/jquery.form.js')
script(src='../js/256_validator.js')

