include owner_header.jade

input#onbdacts(type='text', name='onbdacts', value = '', style='visibility:hidden' )
input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Employee Onboarding status
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select user
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Search
							.col-lg-2
								button#clear_btn.btn.btn-primary(type='submit') Clear Search
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.onbdlist.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include owner_js.jade
script(src='../js/258_validator.js')

