include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Manage Blogs
					.row
						.form-group
							label.col-lg-1.control-label(for='title') Blog Title
							.col-lg-5
								input#title.form-control(type='text', name='title', placeholder='Blog Title', onChange="return capitaliseFirstLetter(this)")
							label.col-lg-1.control-label(for='date') Blog author
							.col-lg-4
								input#author.form-control(type='text', name='author', placeholder='Author Name')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-1.control-label(for='stext') Short Text
							.col-lg-10
								textarea#stext.form-control(rows = '4', name='stext', placeholder='Please input a brief summary here')
					.row
						.form-group
							label.col-lg-1.control-label(for='ftext') Full Text
							.col-lg-10
								textarea#ftext.form-control(rows = '12', name='ftext', placeholder='Please input full blog here')
					.row
						.form-group
							.col-lg-2.col-lg-offset-1
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.blogs.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/260_validator.js')
