include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
  .col-lg-8.col-lg-offset-2
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend#blogtitle.text-center Blog
          .row
            .col-lg-12
              p#blogauthor.text-left 
          .row
            .col-lg-12
              p#blogdate.text-left 
          .row
            .col-lg-12
              p &nbsp;
          .row
            .col-lg-12
              pre#blogstext.text-left 
          .row
            .col-lg-12
              p &nbsp;
          .row
            .col-lg-12
              pre#blogftext.text-left 

div.ajaxaction

include owner_js.jade
script(src='../js/260a_validator.js')
