include owner_header.jade

input#blogsdata(type='text', name='blogsdata', value = '#{blogsdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Publish Blogs
					.row
						.form-group
							label.col-lg-2.control-label(for='blog1') Select Blog 1
							.col-lg-3
								select#blog1-list.form-control(name='blog1')
					.row
						.form-group
							label.col-lg-2.control-label(for='blog2') Select Blog 2
							.col-lg-3
								select#blog2-list.form-control(name='blog2')

					.row
						.form-group
							.col-lg-6.col-lg-offset-2
								button#upd_btn.btn-lg.btn-primary(type='button') Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

div.ajaxaction

include owner_js.jade
script(src='../js/261_validator.js')
