include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
.row-fluid
  .col-lg-12
    form#settings-form.form-horizontal
      fieldset
        .well
          .row
            .form-group
              label.col-lg-12
                legend.text-center Settings
          .row
            .form-group
              label.col-lg-3.control-label(for='fysdate') Financial Year start month
              .col-lg-3
                select#fysdate.form-control(name='fysdate', onChange="fydates()")
                  option(value=1)= "January"
                  option(value=2)= "February"
                  option(value=3)= "March"
                  option(value=4, selected = true)= "April"
                  option(value=5)= "May"
                  option(value=6)= "June"
                  option(value=7)= "July"
                  option(value=8)= "August"
                  option(value=9)= "September"
                  option(value=10)= "October"
                  option(value=11)= "November"
                  option(value=12)= "December"
              .col-lg-2
                input#fyedate.form-control(type='text', name='fyedate',style="visibility:hidden;")
          .row
            .form-group
              label.col-lg-3.control-label(for='wwstart') Work week start day
              .col-lg-3
                select#wwstart.form-control(name='wwstart', onChange="def_we()")
                  option(value=1, selected = true)= "Monday"
                  option(value=2)= "Tuesday"
                  option(value=3)= "Wednesday"
                  option(value=4)= "Thursday"
                  option(value=5)= "Friday"
                  option(value=6)= "Saturday"
                  option(value=7)= "Sunday"
              label.col-lg-2.control-label(for='weno') Number of weekend days
              .col-lg-3
                select#weno.form-control(name='weno', onChange="def_we()")
                  option(value=1, selected = true)= "One Day per week"
                  option(value=2)= "One and Half Days per week"
                  option(value=3)= "Two days per week"
                  option(value=4)= "Alternate weekends of 1 days and 2 Days"
                  option(value=5)= "Alternate weekends of 2 days and 1 Days"
          .row
              label#wetext(style='font-weight:bold').col-lg-offset-3.control-label.text-danger
          .row
              br
          .row
            .form-group
              label.col-lg-3.control-label(for='hrdate') Leave accrual start month
              .col-lg-3
                //input#hrdate.form-control(type='text', name='hrdate', placeholder='Start date to calculate leave accurals')
                select#hrdate.form-control(name='hrdate', onChange="hrdates()")
                  option(value=1)= "January"
                  option(value=2)= "February"
                  option(value=3)= "March"
                  option(value=4, selected = true)= "April"
                  option(value=5)= "May"
                  option(value=6)= "June"
                  option(value=7)= "July"
                  option(value=8)= "August"
                  option(value=9)= "September"
                  option(value=10)= "October"
                  option(value=11)= "November"
                  option(value=12)= "December"
              .col-lg-2
                input#hr2date.form-control(type='text', name='hr2date',style="visibility:hidden;")
          .row
            .form-group
              label.col-lg-3.control-label(for='prwho') Who will assign targets to users?
              .col-lg-2
                select#prwho.form-control(name='prwho')
                  option(value=1, selected = true)= "Supervisor"
                  option(value=2)= "HR Admin"
              label.col-lg-3.control-label(for='rperiod') Review frequency
              .col-lg-2
                select#rperiod.form-control(name='rperiod')
                  option(value=1, selected = true)= "Yearly"
                  option(value=2)= "Half-yearly"
                  option(value=3)= "Quarterly"
                  option(value=4)= "Monthly"
          .row
            .form-group
              label.col-lg-3.control-label(for='psdate') Current review start date
              .col-lg-2
                input#psdate.form-control(type='text', name='psdate')
              label.col-lg-3.control-label(for='prdate') End date
              .col-lg-2
                input#prdate.form-control(type='text', name='prdate')
        .row
          .form-group
            .col-lg-8.col-lg-offset-2
              p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
        .row
          .form-group
            .col-lg-12.text-center
              button#upd_btn.btn-lg.btn-primary(type='button') Update
            .col-lg-1
              input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
            .col-lg-1
              input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")


div.ajaxaction

include owner_js.jade
script(src='../js/263_validator.js')
