include owner_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden')
input#lvdata(type='text', name='lvdata', value = '#{lvdata}', style='visibility:hidden')
input#emplvdata(type='text', name='emplvdata', value = '#{emplvdata}', style='visibility:hidden')
input#codata(type='text', name='codata', value = '#{codata}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team Leave balances
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select Team member
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Search
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		table#listTable.table.leavetypes.table-bordered.table-striped.table-hover
			thead
			tbody

div.ajaxaction

include owner_js.jade
script(src='../js/264_validator.js')

