include owner_header.jade

input#rperioddata(type='text', size='1', name='rperioddata', value = '#{rperioddata}', style='visibility:hidden')
input#usrdata(type='text', size='1', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#sgoaldata(type='text', size='1', name='sgoaldata', value = '#{sgoaldata}', style='visibility:hidden')
input#ugoaliddata(type='text', size='1', name='ugoaliddata', value = '#{ugoaliddata}', style='visibility:hidden')
input#formdata(type='text', size='1', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', size='1', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', size='1', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Reset review progress
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							label.col-lg-2.control-label(for='usr') Select User
							.col-lg-3
								select#usr-list.form-control(name='usr')
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-success(type='submit') Search for targets
							.col-lg-1
								button#clear_btn.btn.btn-danger(type='button') Clear Search
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#goal_btn.btn.btn-primary(type='button' disabled) Reset Target commit
							.col-lg-2
								button#self_btn.btn.btn-primary(type='button' disabled) Reset self review
							.col-lg-2
								button#supr_btn.btn.btn-primary(type='button' disabled) Reset supervisor review
							.col-lg-2
								button#skip_btn.btn.btn-primary(type='button' disabled) Reset skip supervisor review
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.usergoals.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include owner_js.jade
script(src='../js/267_validator.js')
