include owner_header.jade

input#deptdata(type='text', name='deptdata', value = '#{deptdata}', style='visibility:hidden')
input#locdata(type='text', name='locdata', value = '#{locdata}', style='visibility:hidden')
input#rpiddata(type='text', name='rpiddata', value = '#{rpiddata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Manage Appraisals
          .row
            .form-group
              label.col-lg-2.control-label(for='aprtitle') Appraisal Title
              .col-lg-4
                input#aprtitle.form-control(type='text', name='aprtitle', placeholder='Provide a Title for appraisal')
              label.col-lg-1.control-label(for='sdate') Begin on
              .col-lg-1
                input#sdate.form-control(type='text', name='sdate', placeholder='Date')
              label.col-lg-1.control-label(for='edate') Complete by
              .col-lg-1
                input#edate.form-control(type='text', name='edate', placeholder='Date')
          .row
            .form-group
              label.col-lg-2.control-label(for='loc') Pick Location(s)
              .col-lg-3
                select#loc-list.form-control(name='loc', multiple='multiple')
              label.col-lg-2.col-lg-offset-1.control-label(for='dept') Pick Department(s)
              .col-lg-3
                select#dept-list.form-control(name='dept', multiple='multiple')
              .col-lg-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
          .row
            .form-group
              label.col-lg-2.control-label(for='role') Pick Role type(s)
              .col-lg-3
                select#role-list.form-control(name='role', multiple='multiple')
                  option(value=1)= "Top Management"
                  option(value=2)= "Function Head"
                  option(value=3)= "Team Leader"
                  option(value=4)= "Front line"

              label.col-lg-2.col-lg-offset-1.control-label(for='etype') Pick Employee type(s)
              .col-lg-3
                select#etype-list.form-control(name='etype', multiple='multiple')
                  option(value=1)= "Employee"
                  option(value=2)= "Trainee"
                  option(value=3)= "Intern"
                  option(value=4)= "Contractor"
          .row
            .form-group
              label.col-lg-2.control-label(for='jdate') Joining date cut-off
              .col-lg-2
                input#jdate.form-control(type='text', name='jdate', placeholder='Cut-off joining date')
              label.col-lg-2.control-label(for='rvteam') Appraiser(s)
              .col-lg-3
                select#rvteam-list.form-control(name='rvteam', multiple='multiple')
                  option(value=1)= "Self"
                  option(value=2)= "Supervisor"
                  option(value=3)= "Skip Supervisor"
                  option(value=4)= "HR"
                  option(value=5)= "Peer"
                  option(value=6)= "Team member"
          .row
            .form-group
              .col-lg-2.col-lg-offset-2
                input#rv_kra(type='radio', name='rvoptn', value=1,checked, onchange="optn(1)")
                label &nbsp;Use KRAs (or)
                br
                input#rv_rev(type='radio', name='rvoptn', value=2, onchange="optn(2)")
                label &nbsp;Use Reviews
              label.col-lg-1.control-label(for='rpwt') Weightage
              .col-lg-1
                input#rpwt.form-control(type='text', name='rpwt', placeholder='%', onkeypress="return isNumberKey(event)")
              label.col-lg-2.control-label(for='rpid') Pick Review Period(s)
              .col-lg-3
                select#rpid-list.form-control(name='rpid', multiple='multiple', disabled)
          .row
            .form-group
              .col-lg-4.col-lg-offset-2.text-left
                input#bvrt(type='checkbox', onClick="brat(this)")
                span.text-default &nbsp;&nbsp;Include Behavioral Rating(s)
              label.col-lg-1.col-lg-offset-1.control-label(for='bvwt') Weightage
              .col-lg-1
                input#bvwt.form-control(type='text', name='bvwt', placeholder='%', onkeypress="return isNumberKey(event)", disabled)
          .row
            .form-group
              .col-lg-8.col-lg-offset-2
                textarea#bvtxt.form-control(name='bvtxt',rows='5', placeholder='Add behavioral skills, one below the other', disabled)
          .row
            .form-group
              .col-lg-3.col-lg-offset-2
                input#cvrt(type='checkbox', onClick="vrat(this)")
                span.text-default &nbsp;&nbsp;Include values rating(s)
              label.col-lg-2.col-lg-offset-1.control-label(for='cvwt') Weightage
              .col-lg-1
                input#cvwt.form-control(type='text', name='cvwt', placeholder='%', onkeypress="return isNumberKey(event)", disabled)
          .row
            .form-group
              .col-lg-4.col-lg-offset-2
                input#trng(type='checkbox')
                span.text-default &nbsp;&nbsp;Seek input from Supervisor about Training requirements
              .col-lg-4.col-lg-offset-1
                input#recom(type='checkbox')
                span.text-default &nbsp;&nbsp;Seek recommendations from supervisor
          .row
            .form-group
              .col-lg-2.col-lg-offset-2
                button#add_btn.btn.btn-primary(type='submit') Add New
              .col-lg-3
                button#upd_btn.btn.btn-success(type='button', disabled) Update changes
              .col-lg-2
                button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
          .row
            .form-group
              .col-lg-10.col-lg-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .form-group
            .col-lg-12
              table#listTable.table.apprsl.table-bordered.table-striped.table-hover
                thead
                tbody
              ul#listpages


include owner_js.jade
script(src='../js/268_validator.js')
