include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Manage reviews
          .row
            .form-group
              label#title(style='font-weight:bold').col-lg-5.col-lg-offset-2
            .form-group
              label.col-lg-2.control-label(for='sts') Status
              .col-lg-3
                select#sts-list.form-control(name='sts', disabled)
                  option(value=1,selected = true)= "Yet to Start"
                  option(value=2)= "Active"
                  option(value=3)= "Overdue"
                  option(value=4)= "Closed"
              label.col-lg-2.control-label(for='frat') Final Rating
              .col-lg-3
                select#frat-list.form-control(name='frat', disabled)
                  option(value=1)= " "
                  option(value=2,selected = true)= "Supervisor's Rating"
                  option(value=3)= "Skip Supervisor's Rating"
                  option(value=4)= "Employee Self Rating"
              .col-lg-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')

          .row
            .form-group
              .col-lg-2.col-lg-offset-2
                button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
              .col-lg-2
                button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

          .row
            .form-group
              .col-lg-10.col-lg-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .form-group
            .col-lg-12
              table#listTable.table.revperiod.table-bordered.table-striped.table-hover
                thead
                tbody
              ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/269_validator.js')
