include owner_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Manage Business Numbers
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Business number title
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Business number title', onChange="return capitaliseFirstLetter(this)")
							label.col-lg-2.control-label(for='value') Value
							.col-lg-3
								input#value.form-control(type='text', name='value', placeholder='Value')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='vfrom') Valid From
							.col-lg-3
								input#vfrom.form-control(type='text', name='vfrom', placeholder='Valid From')
							label.col-lg-2.control-label(for='vto') Valid upto
							.col-lg-3
								input#vto.form-control(type='text', name='vto', placeholder='Valid upto')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.biznum.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


include owner_js.jade
script(src='../js/271_validator.js')
