include owner_header.jade

input#userdata(type='text', name='userdata', size='1', value = '#{userdata}', style='visibility:hidden')
input#deptdata(type='text', name='deptdata', size='1', value = '#{deptdata}', style='visibility:hidden')
input#aprsldata(type='text', name='aprsldata', size='1', value = '#{aprsldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center View Appraisal status
					.row
						.form-group
							label.col-lg-2.control-label(for='dept') Select Department
							.col-lg-3
								select#dept-list.form-control(name='dept')
							label.col-lg-2.control-label(for='aprslid') Select Appraisal
							.col-lg-3
								select#aprslid-list.form-control(name='aprslid')
							.col-lg-2
								button#search_btn.btn.btn-success(type='button') Show Appraisal status
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include owner_js.jade
script(src='../js/273_validator.js')

