include employer_header.jade

input#cuserdata(type='text', name='cuserdata', value = '#{cuserdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
  .col-lg-10.col-lg-offset-2
    h2#greet.text-left
  .col-lg-8.col-lg-offset-2
    h3.text-left Have a great day!
    
.row-fluid
  .col-lg-10.col-lg-offset-2
    h1 &nbsp;
.row-fluid
  .col-lg-10.col-lg-offset-2
    h1 &nbsp;
div.ajaxaction

include employer_js.jade
script(src='../js/awesomplete.js')
script(src='../js/employer_home_validator.js')

