include employer_header.jade

input#curruser(type='text', name='curruser', value = '#{curruser}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.container-fluid(role='main')
  .row-fluid
    .col-lg-6.col-lg-offset-3
      .well
        form#stuupdpwd-form.form-horizontal
          fieldset
            legend Personal Profile
            .form-group
              label.col-lg-4.control-label(for='fname') Full name
              .col-lg-6
                input#fname.form-control(type='text', name='fname', placeholder='Full name', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='mobile') Mobile
              .col-lg-6
                input#mobile.form-control(type='text', name='mobile', placeholder='Mobile number', onkeypress="return isNumberKey(event)", autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='desgn') Designation
              .col-lg-6
                input#desgn.form-control(type='text', name='desgn', placeholder='Your designation', autocomplete='off')
            .form-group
              .col-lg-6.col-lg-offset-4
                button#updppr_btn.btn.btn-lg.btn-success(type='submit') Update Profile
              .col-lg-8.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include employer_js.jade
script(src='../js/302_validator.js')

