include employer_header.jade

input#curruser(type='text', name='curruser', value = '#{curruser}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

form#adddocs-form.form-horizontal(method="POST", action="/complogo", enctype="multipart/form-data")
  .row
    .col-lg-3.col-lg-offset-1
      .well
        .row
          .form-group
            .col-lg-10.col-lg-offset-1
              img#userpict.img-responsive.img-thumbnail(src='img/not_available.gif', alt='No Logo Uploaded', border='2', title='Company Logo')
        .row
          .form-group
            .col-lg-7.col-lg-offset-2
              a(id='selfile') click here to change logo
          .form-group
            .col-lg-2
              input#docfile(type='file', name='docfile', style="visibility:hidden;")

    .col-lg-6
      .well
        form#stuupdpwd-form.form-horizontal
          fieldset
            legend Company Profile
            .form-group
              label.col-lg-4.control-label(for='company') Company name
              .col-lg-6
                input.form-control(type='text', id='company', name='company', placeholder='Organisation / Institution Name', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='industry') Industry
              .col-lg-6
                select#industry.form-control(name='industry')
                  option(value=1)= "Automotive/ Ancillaries"
                  option(value=2)= "Banking/ Financial Services"
                  option(value=3)= "Bio Technology & Life Sciences"
                  option(value=4)= "Chemicals/Petrochemicals"
                  option(value=5)= "Construction"
                  option(value=6)= "FMCG"
                  option(value=7)= "Education"
                  option(value=8)= "Entertainment/ Media/ Publishing"
                  option(value=9)= "Insurance"
                  option(value=10)= "ITES/BPO"
                  option(value=11)= "IT/ Computers - Hardware"
                  option(value=12)= "IT/ Computers - Software"
                  option(value=13)= "KPO/Analytics"
                  option(value=14)= "Machinery/ Equipment Mfg."
                  option(value=15)= "Oil/ Gas/ Petroleum"
                  option(value=16)= "Pharmaceutical"
                  option(value=17)= "Plastic/ Rubber"
                  option(value=18)= "Power/Energy"
                  option(value=19)= "Real Estate"
                  option(value=20)= "Retailing"
                  option(value=21)= "Telecom"
                  option(value=22)= "Advertising/PR/Events"
                  option(value=23)= "Agriculture/ Dairy Based"
                  option(value=24)= "Aviation/Aerospace"
                  option(value=25)= "Beauty/Fitness/PersonalCare/SPA"
                  option(value=26)= "Beverages/ Liquor"
                  option(value=27)= "Cement"
                  option(value=28)= "Ceramics & Sanitary Ware"
                  option(value=29)= "Consultancy"
                  option(value=30)= "Courier/ Freight/ Transportation"
                  option(value=31)= "Dotcom"
                  option(value=32)= "E-Learning"
                  option(value=33)= "Electrical/Switchgear"
                  option(value=34)= "Engineering, Procurement, Construction"
                  option(value=35)= "Environmental Service"
                  option(value=36)= "Facility management"
                  option(value=37)= "Fertilizer/ Pesticides"
                  option(value=38)= "Food & Packaged Food"
                  option(value=39)= "Textiles / Yarn / Fabrics / Garments"
                  option(value=40)= "Gems & Jewellery"
                  option(value=41)= "Government/ PSU/ Defence"
                  option(value=42)= "Consumer Electronics/Appliances"
                  option(value=43)= "Hospitals/ Health Care"
                  option(value=44)= "Hotels/ Restaurant"
                  option(value=45)= "Import / Export"
                  option(value=46)= "Iron/ Steel"
                  option(value=47)= "ISP"
                  option(value=48)= "Law Enforcement/Security Services"
                  option(value=49)= "Leather"
                  option(value=50)= "Market Research"
                  option(value=51)= "Medical Transcription"
                  option(value=52)= "Mining"
                  option(value=53)= "NGO"
                  option(value=54)= "Non-Ferrous Metals (Aluminium, Zinc etc.)"
                  option(value=55)= "Office Equipment/Automation"
                  option(value=56)= "Paints"
                  option(value=57)= "Paper"
                  option(value=58)= "Printing/ Packaging"
                  option(value=59)= "Public Relations (PR)"
                  option(value=60)= "Semiconductor"
                  option(value=61)= "Shipping/ Marine Services"
                  option(value=62)= "Social Media"
                  option(value=63)= "Sugar"
                  option(value=64)= "Travel/ Tourism"
                  option(value=65)= "Tyres"
                  option(value=66)= "Wood"
                  option(value=67)= "Other"
            .form-group
              label.col-lg-4.control-label(for='addr') Address
              .col-lg-6
                input.form-control(type='text', id='addr', name='addr', placeholder='Street Address', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='city') City
              .col-lg-6
                input.form-control(type='text', id='city', name='city', placeholder='City', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='city') Pincode
              .col-lg-6
                input.form-control(type='text', id='pincode', name='pincode', placeholder='Pincode', onkeypress="return isNumberKey(event)", autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='linkedin') Link to linkedin profile page
              .col-lg-6
                input#linkedin.form-control(type='text', name='linkedin', placeholder='linkedin profile page', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='about') Profile summary
              .col-lg-6
                textarea#about.form-control(rows='6', name='about', placeholder='Write briefly about your company', autocomplete='off')
            .form-group
              label.col-lg-4.control-label(for='values') Company values
              .col-lg-6
                textarea#values.form-control(rows='6', name='values', placeholder='Write briefly about your company values', autocomplete='off')
            .form-group
              .col-lg-6.col-lg-offset-4
                button#updcpr_btn.btn.btn-lg.btn-success(type='submit') Update Profile
              .col-lg-1
                button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
              .col-lg-1
                input#userid(type='text', name='userid', value = "#{curruser.user}", style="visibility:hidden")
            .form-group
              .col-lg-8.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include employer_js.jade
script(src='../js/jquery.form.js')
script(src='../js/303_validator.js')

