include employer_header.jade

.container-fluid(role='main')
  .row-fluid
    .col-lg-6.col-lg-offset-3
      .well
        form#stuupdpwd-form.form-horizontal
          fieldset
            legend
               p.text-default
                 | Please Input your old password, new password & select Submit to update your password.
               p.text-default
                 | After your password is updated, Please logout & login again with your new password
            .form-group
              label.col-lg-4.control-label(for='currPassword') Current Password
              .col-lg-6
                input#currPassword.form-control(type='password', name='currPassword', placeholder='Current Password')
            .form-group
              label.col-lg-4.control-label(for='stuPassword1') New Password
              .col-lg-6
                input#stuPassword1.form-control(type='password', name='stuPassword1', placeholder='New Password')
            .form-group
              .col-lg-6.col-lg-offset-4
                input#stuPassword2.form-control(type='password', name='stuPassword2', placeholder='New Password Again')
            .form-group
              .col-lg-6.col-lg-offset-4
                button#updpwd_btn.btn.btn-lg.btn-success(type='submit') Update Password
              .col-lg-8.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include employer_js.jade
script(src='../js/304_validator.js')

