include employer_header.jade

input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden')
input#editrow(type='text', name='editrow',  size='1', value = '-1', style='visibility:hidden')
input#totpages(type='text', name='totpages',  size='1', value = '#{totpages}', style='visibility:hidden' )

.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .row
            .col-sm-12
              legend(style='color:#FF1493').text-center Job Postings
          .row
            .form-group
              .col-lg-12
                table#listTable.table.jobs.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#listpages(style='float:right')
                button#postjob_btn.btn.btn-lg.btn-success(type='submit') Post a new job  

#postjob.row-fluid(style='display:none')
  .col-sm-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-sm-12
              legend(style='color:#FF1493').text-center Post a new Job
          .row(style='display:none')
            .form-group
              .col-sm-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')          
          .row
            .form-group
              label#label1.col-sm-4.control-label(for='title') Job Title
              .col-sm-4
                input#title.form-control(type='text', name='title', placeholder='Job title')  
          .row
            .form-group    
              label#label11.col-sm-4.control-label(for='exp') Experience in years
              .col-sm-2
                select#exp.form-control(name='exp')
                  option(value=0)= "0-1"  
                  option(value=1)= "1-2"
                  option(value=2)= "2-3"
                  option(value=3)= "3-4"
                  option(value=4)= "4-5"
                  option(value=5)= "5-10"
                  option(value=10)= "10+"        
          //  label#label11.col-sm-1.control-label(for='exp') Experience in years
              .col-sm-2
                input#exp.form-control(type='text', name='exp', placeholder='Experience')    
          .row
            .form-group
              label#label4.col-sm-4.control-label(for='jdesc') Job details
              .col-sm-4
                textarea#jdesc.form-control(rows=3, name='jdesc', placeholder='Details of the job')
          .row
            .form-group    
              label#label12.col-sm-4.control-label(for='dept') Required Profile
              .col-sm-4
                textarea#skills.form-control(rows=3, name='skills', placeholder='Enter required profile')
          br  
          .row
            .form-group    
              label#label6.col-sm-4.control-label(for='jobcntry') Job Location
              .col-sm-4 
                input#jobcntry.form-control(type='text', name='jobcntry', placeholder='Country')
          .row
            .form-group    
              .col-sm-4.col-sm-offset-4
                input#jobcity.form-control(type='text', name='jobcity', placeholder='City')
          .row
            .form-group
              label#label14.col-sm-4.control-label(for='locale') Locality
              .col-sm-4
                input#locale.form-control(type='text', name='locale', placeholder='Locality within the city')
          .row
            .form-group
              label#label8.col-sm-4.control-label(for='wdays') Work preference
              .col-sm-2
                select#wdays.form-control(name='workdays')
                  option(value=1)= "Full time"
                  option(value=2)= "Few days a week"
                  option(value=3)= "Work from home"         
              //.col-sm-8  
                .col-sm-3
                  input#wdays(type='radio', name='workdays', value='1', onChange="selwdays()") 
                  span.text-default
                    | &nbsp;&nbsp;Preferred&nbsp;
                .col-sm-9
                  input(type='checkbox', name = 'pdays', value='1')
                  span.text-default
                    | &nbsp;Sunday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='2')
                  span.text-default
                    | &nbsp;Monday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='3')
                  span.text-default
                    | &nbsp;Tuesday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='4')
                  span.text-default
                    | &nbsp;Wednesday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='5')
                  span.text-default
                    | &nbsp;Thursday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='6')
                  span.text-default
                    | &nbsp;Friday&nbsp;&nbsp;
                  input(type='checkbox', name = 'pdays', value='7')
                  span.text-default
                    | &nbsp;Saturday&nbsp;&nbsp;
                br
                br    
                .col-sm-12
                  input#wdays(type='radio', name='workdays', value='2', onChange="selwdays()")
                  span.text-default
                    | &nbsp;&nbsp;Flexible
          br
          .row
            .form-group
              label#label13.col-sm-4.control-label(for='comp') Annual salary
              .col-sm-2
                input#comp.form-control(type='text', name='comp', placeholder='Salary per year', onkeypress="return isNumberKey(event)", autocomplete='off')
              .col-sm-2
                select#curr.form-control(name='curr')
                  option(value=1)= "USA Dollar"
                  option(value=2)= "IND Rupees"
                  option(value=3)= "UK Pounds"
                  option(value=4)= "EUR"
                  option(value=5)= "Canadian Dollar"
                  option(value=6)= "Singapore Dollar"
                  option(value=7)= "Australian Dollar"
                  option(value=8)= "UAE Dirhams"
                  option(value=9)= "Malaysia Ringgit"
                  option(value=10)= "Thailand Baht"
          .row
            .form-group
              label#label14.col-sm-4.control-label(for='eqty') Equity range
              .col-sm-2.input-group
                input#eqtymin.form-control.input-group-addon(type='text', name='eqtymin', placeholder='%', onkeypress="return isNumberKey(event)", autocomplete='off')
                span.input-group-addon to
                input#eqtymax.form-control.input-group-addon(type='text', name='eqtymax', placeholder='%', onkeypress="return isNumberKey(event)", autocomplete='off')
          .row
            .form-group
              label#label15.col-sm-4.control-label.text-left(for='emailid') Email id to receive job applications
              .col-sm-2
                input#emailid.form-control(type='text', name='emailid', placeholder='Valid email id')
          br  
          .row
            .form-group
              .col-sm-2.col-sm-offset-2
                button#add_btn.btn.btn-primary(type='submit') Add New
              .col-sm-3
                button#upd_btn.btn.btn-success(type='submit', disabled) Update Job
              .col-sm-2
                button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
          
          .row
            .form-group
              .col-sm-10.col-sm-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again




div.ajaxaction

include employer_js.jade
script(src='../js/305_validator.js')


                