#contractModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-center Define Job
      .modal-body
        form#updemp-form.form-horizontal
         .form-group
          fieldset
            .row
              .col-lg-6.col-lg-offset-1
               label.control-label(style="font-size:1em", for='role') Role Title*
            .row
              .col-lg-6.col-lg-offset-1
                p(style="font-size:0.8em") What role would the incumbent do?
            .row
               .col-lg-10.col-lg-offset-1
                input#modal_role.form-control(type='text', name='modal_role')
            .row
              .col-lg-6.col-lg-offset-1
               label.control-label(style="font-size:1em", for='location') Locations*
            .row
              .col-lg-8.col-lg-offset-1
               p(style="font-size:0.8em") Mention locations where staff in this role is required
            .row
               .col-lg-10.col-lg-offset-1
                input#modal_location.form-control(type='text', name='modal_location')
            .row
              .col-lg-6.col-lg-offset-1
               label.control-label(style="font-size:1em", for='tenure') Contract tenure
            .row
              .col-lg-8.col-lg-offset-1
                p(style="font-size:0.8em") What would be the duration of initial contract, in months?
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_tenure.form-control(type='text', name='modal_tenure')
            .row
              .col-lg-6.col-lg-offset-1
               label.control-label(style="font-size:1em", for='fees') Budgeted fee per person
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.8em") What's the indicative budgeted compensation for the incumbent in this role, without adding contractor margin?
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_fees.form-control(type='text', name='modal_fees')
            .row
              .col-lg-6.col-lg-offset-1            
               label.control-label(style="font-size:1em", for='totpersons') How many people are required in this role?
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.8em") Mention number across locations
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_totpersons.form-control(type='text', name='modal_totpersons')
            .row
              .form-group
                .col-lg-10.col-lg-offset-1
                  p(id = 'errtext2', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Exit
        button#contract_btn.btn.btn-success(type='button') Submit

