// common CSS for owners
link(href='../css/jquery-ui-smoothness.min.css', rel='stylesheet')
link(href='../css/bootstrap.css', rel='stylesheet')
link(href='../css/bootstrap-glyphicons.css', rel='stylesheet')
link(href='../css/footable.core.css', rel='stylesheet')
link(href='../css/select2.min.css', rel='stylesheet')
link(href='../css/alertify.css', rel='stylesheet')
link(href='../css/alertify-bootstrap-3.css', rel='stylesheet')

link(href='./css/plughrjobs.css', rel='stylesheet')
link(href="https://fonts.googleapis.com/css?family=Josefin+Sans", rel="stylesheet")

