#jobModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-center Post Job
      .modal-body
        form#updemp-form.form-horizontal
         .form-group
           fieldset
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em", for='title').control-label Job Title*
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_title.form-control(type='text', name='modal_title')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='jobdesc').control-label Brief job description?*
            .row
              .col-lg-8.col-lg-offset-1
               p(style="font-size:0.7em") Mention key responsibility, level in hierarchy, span of control
            .row
              .col-lg-10.col-lg-offset-1
               textarea#modal_jobdesc.form-control(type='textarea', name='modal_jobdesc', rows='4')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='jobloc').control-label Job Location?
            .row
              .col-lg-6.col-lg-offset-1
               p(style="font-size:0.7em") Mention the city
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_jobloc.form-control(type='text', name='modal_jobloc')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='jobtype').control-label Job Type*
            .row
               .col-lg-10.col-lg-offset-1
                  select#modal_jobtype.form-control(name='modal_jobtype')
                    option(value=0,selected = true)= "Full time on rolls"
                    option(value=1)= "Flexible on rolls"
                    option(value=2)= "Full time contractual"
                    option(value=3)= "Flexible contractual"                    
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='comp').control-label Indicative annual compensation
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.7em") Mention total annual cost to company, including all fixed components
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_comp.form-control(type='text', name='modal_comp')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='stock').control-label Indicative ESOPs
            .row
              .col-lg-6.col-lg-offset-1
               p(style="font-size:0.7em") Mention stock option entitlement if any
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_stock.form-control(type='text', name='modal_stock')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='offer').control-label Check what you offer
            .row
              .col-lg-6.col-lg-offset-1
               p(style="font-size:0.7em") These may matter to the applicants
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer1(type='checkbox')
                span &nbsp;5 days workweek 
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer2(type='checkbox')
                span &nbsp;Food at work
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer3(type='checkbox')
                span &nbsp;Flexible entry hours 
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer4(type='checkbox')
                span &nbsp;Medical Insurance
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer5(type='checkbox')
                span &nbsp;Provident fund 
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_offer6(type='checkbox')
                span &nbsp;Transport to work & back
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='leave').control-label How many annual leaves you offer?
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.7em") Mention earned leaves, without counting medical and casual leaves
            .row
              .col-lg-10.col-lg-offset-1
               input#modal_leave.form-control(type='text', name='modal_leave')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='profile').control-label What's the expected candidate profile?
            .row
              .col-lg-8.col-lg-offset-1
               p(style="font-size:0.7em") Mention qualifications, experience and any other preferences
            .row
              .col-lg-10.col-lg-offset-1
               textarea#modal_profile.form-control(type='textarea', name='modal_profile', rows='4')
            .row
              .col-lg-6.col-lg-offset-1
               label(style="font-size:0.9em",for='jobpost').control-label Where all should we post the job?*
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.7em") By clicking you agree to plugHR terms of use and privacy policy
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_jobpost1(type='checkbox')
                span &nbsp;plugHR.com 
            .row
             .col-lg-11.col-lg-offset-1
                input#modal_jobpost2(type='checkbox')
                span &nbsp;Social Media
            .row
              .col-lg-8.col-lg-offset-1
               label(style="font-size:0.9em",for='agent').control-label Would you like to use recruitment agents on our panel for this job?*
            .row
              .col-lg-10.col-lg-offset-1
               p(style="font-size:0.7em") We charge 10% of annual CTC of selected candidate as success fee
            .row
              .col-lg-6.col-lg-offset-1
                input#modal_agent(type='radio', name='modal_agent1', value='1', checked="checked")  
                span.p.text-default &nbsp;&nbsp;Yes
              .col-lg-6.col-lg-offset-1
                input#modal_agent(type='radio', name='modal_agent2', value='2')  
                span.p.text-default &nbsp;&nbsp;No
            .row
              .col-lg-10.col-lg-offset-1
                p &nbsp;
                p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Exit
        button#job_btn.btn.btn-success(type='button') Submit

