#trainingModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-center Training Need
      .modal-body
        form#updemp-form.form-horizontal
          .form-group
            fieldset
            .row
               .col-lg-6.col-lg-offset-1
                  label.control-label(style="font-size:1em", for='trainees').text-left What do you want to train on?*
            .row
               .col-lg-6.col-lg-offset-1
                  p(style="font-size:0.8em") Mention the training need in one line 
            .row
               .col-lg-10.col-lg-offset-1
                  input#modal_training.form-control(type='text', name='modal_training')
            .row
               .col-lg-6.col-lg-offset-1
                label.control-label(style="font-size:1em", for='trainees') How many people are to be trained?
            .row
               .col-lg-10.col-lg-offset-1
                  input#modal_trainees.form-control(type='text', name='modal_trainees')
            .row
               .col-lg-6.col-lg-offset-1
                label.control-label(style="font-size:1em", for='place') Where would the training be?
            .row
               .col-lg-10.col-lg-offset-1
                  select#modal_place.form-control(name='modal_place')
                    option(value=0, selected=true)= "At our office"
                    option(value=1)= "Outside office,we will arrange the place"
                    option(value=2)= "Outside office,trainer needs to arrange the place"
            .row
               .col-lg-6.col-lg-offset-1
                label.control-label(style="font-size:1em", for='trainees') When do you want to train?
            .row
               .col-lg-6.col-lg-offset-1
                 p(style="font-size:0.8em") Mention a date even if its tentative
            .row
               .col-lg-4.col-lg-offset-1.text-center
                 input#modal_date.form-control(type='text', name='modal_date')
                 p(style="font-size:0.8em") DD-MM-YYYY
            .row
               .col-lg-6.col-lg-offset-1
                label.control-label(style="font-size:1em", for='trainees') Describe your expectations from training
            .row
               .col-lg-11.col-lg-offset-1
                 p(style="font-size:0.8em") Define the need, what problem you want to solve, how do you see training helping
               .col-lg-10.col-lg-offset-1
                 textarea#modal_expect.form-control(type='textarea', name='modal_expect', rows='4')
            .row
              .form-group
                .col-lg-10.col-lg-offset-1
                  p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Exit
        button#training_btn.btn.btn-success(type='button') Submit

