include header.jade

section#section1
.div
  .row
    .col-lg-6.col-lg-offset-3
      .well#well1
        form.form-horizontal.css-form(name='newuserform', novalidate='', autocomplete='off')
          fieldset
            legend(style='color:#FF1493').text-center Welcome Candidate
            h4(style='color:#00BFFF	').text-center Let's create your awesome profile first
            .form-group
              .col-lg-12
                p.text-center
                  | Please input valid data for all fields below and then you would be able to Create Profile
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userEmail') Full name
              .col-lg-6
                input.form-control(type='text', id='username', name='username', placeholder='Full Name', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userEmail') Email
              .col-lg-6
                input.form-control(type='text', id='useremail', name='useremail', placeholder='Email id', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='useremail') Mobile
              .col-lg-6
                input.form-control(type='text', id='usermobile', name='usermobile', placeholder='Mobile number', onkeypress="return isNumberKey(event)", autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userPassword1') Password
              .col-lg-6
                input.form-control(type='password', id='pw1', name='pw1', placeholder='Password (min 8 characters)', autocomplete='off')
            .form-group
              .col-lg-6.col-lg-offset-3
                input.form-control(type='password', id='pw2', name='pw2', placeholder='Reconfirm Password', autocomplete='off')
            .form-group
               .col-lg-1.col-lg-offset-2
                input(type='checkbox', id='useragree')
               .col-lg-7
                  span.text-default
                    | I agree to&nbsp;
                    a#terms(href='#/terms', target='_blank') Terms of services 
                    | and&nbsp;&nbsp;
                    a#privacy(href='#/privacy', target='_blank') privacy policy
            .form-group
              .col-lg-1.col-lg-offset-3
                button#userJoin_btn.btn.btn-lg.btn-success(type='submit') Create Profile
            .form-group
              .col-lg-9.col-lg-offset-3
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
  footer
    .row
      .col-lg-3.col-lg-offset-5
        p(style='color:white') © PlugHRjobs 2017 - All rights reserved
    .ajaxaction

div.ajaxaction

include loginmodal.jade
include scripts.jade


