include header.jade

section#section1
.div
  .row
    .col-lg-6.col-lg-offset-3
      .well#well1
        form.form-horizontal.css-form(name='newuserform', novalidate='', autocomplete='off')
          fieldset
            legend(style='color:#FF1493').text-center Welcome
            h4(style='color:#00BFFF').text-center You are just few seconds away from joining Workhalf
            .form-group
              .col-lg-12
                p.text-center
                  | Please input valid data for all fields below and then you would be able to Create Profile
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userEmail') Full name
              .col-lg-6
                input.form-control(type='text', id='username', name='username', placeholder='Full Name', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userEmail') Email
              .col-lg-6
                input.form-control(type='text', id='useremail', name='useremail', placeholder='Email id', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='useremail') Mobile
              .col-lg-6
                input.form-control(type='text', id='usermobile', name='usermobile', placeholder='Mobile number', onkeypress="return isNumberKey(event)", autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='userPassword1') Password
              .col-lg-6
                input.form-control(type='password', id='pw1', name='pw1', placeholder='Password (min 8 characters)', autocomplete='off')
            .form-group
              .col-lg-6.col-lg-offset-3
                input.form-control(type='password', id='pw2', name='pw2', placeholder='Reconfirm Password', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='company') Company
              .col-lg-6
                input.form-control(type='text', id='company', name='company', placeholder='Organisation / Institution Name', autocomplete='off')
            .form-group
              label.col-lg-2.col-lg-offset-1.control-label(for='industry') Industry
              .col-lg-6
                select#industy.form-control(name='industry')
                  option(value=1)= "Automotive/ Ancillaries"
                  option(value=2)= "Banking/ Financial Services"
                  option(value=3)= "Bio Technology & Life Sciences"
                  option(value=4)= "Chemicals/Petrochemicals"
                  option(value=5)= "Construction"
                  option(value=6)= "FMCG"
                  option(value=7)= "Education"
                  option(value=8)= "Entertainment/ Media/ Publishing"
                  option(value=9)= "Insurance"
                  option(value=10)= "ITES/BPO"
                  option(value=11)= "IT/ Computers - Hardware"
                  option(value=12)= "IT/ Computers - Software"
                  option(value=13)= "KPO/Analytics"
                  option(value=14)= "Machinery/ Equipment Mfg."
                  option(value=15)= "Oil/ Gas/ Petroleum"
                  option(value=16)= "Pharmaceutical"
                  option(value=17)= "Plastic/ Rubber"
                  option(value=18)= "Power/Energy"
                  option(value=19)= "Real Estate"
                  option(value=20)= "Retailing"
                  option(value=21)= "Telecom"
                  option(value=22)= "Advertising/PR/Events"
                  option(value=23)= "Agriculture/ Dairy Based"
                  option(value=24)= "Aviation/Aerospace"
                  option(value=25)= "Beauty/Fitness/PersonalCare/SPA"
                  option(value=26)= "Beverages/ Liquor"
                  option(value=27)= "Cement"
                  option(value=28)= "Ceramics & Sanitary Ware"
                  option(value=29)= "Consultancy"
                  option(value=30)= "Courier/ Freight/ Transportation"
                  option(value=31)= "Dotcom"
                  option(value=32)= "E-Learning"
                  option(value=33)= "Electrical/Switchgear"
                  option(value=34)= "Engineering, Procurement, Construction"
                  option(value=35)= "Environmental Service"
                  option(value=36)= "Facility management"
                  option(value=37)= "Fertilizer/ Pesticides"
                  option(value=38)= "Food & Packaged Food"
                  option(value=39)= "Textiles / Yarn / Fabrics / Garments"
                  option(value=40)= "Gems & Jewellery"
                  option(value=41)= "Government/ PSU/ Defence"
                  option(value=42)= "Consumer Electronics/Appliances"
                  option(value=43)= "Hospitals/ Health Care"
                  option(value=44)= "Hotels/ Restaurant"
                  option(value=45)= "Import / Export"
                  option(value=46)= "Iron/ Steel"
                  option(value=47)= "ISP"
                  option(value=48)= "Law Enforcement/Security Services"
                  option(value=49)= "Leather"
                  option(value=50)= "Market Research"
                  option(value=51)= "Medical Transcription"
                  option(value=52)= "Mining"
                  option(value=53)= "NGO"
                  option(value=54)= "Non-Ferrous Metals (Aluminium, Zinc etc.)"
                  option(value=55)= "Office Equipment/Automation"
                  option(value=56)= "Paints"
                  option(value=57)= "Paper"
                  option(value=58)= "Printing/ Packaging"
                  option(value=59)= "Public Relations (PR)"
                  option(value=60)= "Semiconductor"
                  option(value=61)= "Shipping/ Marine Services"
                  option(value=62)= "Social Media"
                  option(value=63)= "Sugar"
                  option(value=64)= "Travel/ Tourism"
                  option(value=65)= "Tyres"
                  option(value=66)= "Wood"
                  option(value=67)= "Other"
            .form-group
               .col-lg-1.col-lg-offset-2
                  input#coagree(type='checkbox')
               .col-lg-7
                  span.text-default
                    | I verify that I am the official representative of this organisation / institution and 
                    | have the right to act on behalf of the business entity in creating Workhalf account.
            .form-group
               .col-lg-1.col-lg-offset-2
                input(type='checkbox', id='useragree')
               .col-lg-7
                  span.text-default
                    | I agree to&nbsp;
                    a#terms(href='#/terms', target='_blank') Terms of services 
                    | and&nbsp;&nbsp;
                    a#privacy(href='#/privacy', target='_blank') privacy policy
            .form-group
              .col-lg-1.col-lg-offset-3
                button#emplJoin_btn.btn.btn-lg.btn-success(type='submit') Join Now
            .form-group
              .col-lg-9.col-lg-offset-3
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
  footer
    .row
      .col-lg-3.col-lg-offset-5
        p(style='color:white') © PlugHRjobs 2017 - All rights reserved
    .ajaxaction

div.ajaxaction

include loginmodal.jade
include scripts.jade


