include header.jade
section#section1
  .div
    .row
      .col-lg-12
        p &nbsp;
    .row
      .col-lg-12
        h2.text-center One life, many talents? Apply yourself fully
    .row
      .col-lg-12
        h4 &nbsp;
    .row
      .col-lg-4.col-lg-offset-4
        h3.text-center Jobs for 6 hours a day or 4. Few days a week or just weekends.
    .row
      .col-lg-12
        h4 &nbsp;
    .row
      .col-lg-12.text-center
          button#jsearch_btn(type='submit', style='font-weight:bold;letter-spacing:0.2em').btn &nbsp;&nbsp;&nbsp;&nbsp;SEARCH BETTER JOBS&nbsp;&nbsp;&nbsp;&nbsp;
    .row
      .col-lg-12
        h4 &nbsp;

section#section2
  .div
    .col-lg-5.col-lg-offset-1
      .row
          h4.text-center.text-center SIGNUP AS CANDIDATE
      .row.text-center
          h4.text-center Create your profile, highlight all your talents, apply for jobs that fit your lifestyle and aspirations. 
      .row
        .col-lg-12
          h5 &nbsp;
      .row.text-center
          button#candidate_btn(type='button', style='font-weight:bold;letter-spacing:0.2em').btn &nbsp;&nbsp;&nbsp;&nbsp;SIGNUP&nbsp;&nbsp;&nbsp;&nbsp;

  .div
    .col-lg-5
      .row
          h4.text-center.text-center SIGNUP AS EMPLOYER
      .row.text-center
          h4.text-center No one wants to work 9 to 5 anymore. Superior talent looks for flexibility. Hire for passion, Now. 
      .row
        .col-lg-12
          h5 &nbsp;
      .row.text-center
          button#employer_btn(type='button', style='font-weight:bold;letter-spacing:0.2em').btn &nbsp;&nbsp;&nbsp;&nbsp;SIGNUP&nbsp;&nbsp;&nbsp;&nbsp;
  .div
    .row
      .col-lg-12
        h1 &nbsp;

div.ajaxaction

include loginmodal.jade
include scripts.jade


