include header.jade

//input#deptdata(type='text', name='deptdata',  size='1', value = '#{deptdata}', style='visibility:hidden')
//input#kradata(type='text', name='kradata',  size='1', value = '#{kradata}', style='visibility:hidden')
//input#skillsdata(type='text', name='skillsdata',  size='1', value = '#{skillsdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden')

.row-fluid
  .col-lg-6.col-lg-offset-3
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend(style='color:#FF1493').text-center Job details

          .row
            .form-group
              .col-lg-8.col-lg-offset-2
                table(border='0')
                  tr
                    td.col-lg-3 
                      h5(style='color:#FF1493').text-left Job Title&nbsp;&nbsp;&nbsp;
                    td 
                      h5#title.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left Employer&nbsp;&nbsp;&nbsp;
                    td 
                      h5#empl.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left Work Preference&nbsp;&nbsp;&nbsp;
                    td 
                      h5#wdays.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left Compensation&nbsp;&nbsp;&nbsp;
                    td 
                      h5#salry.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left About employer&nbsp;&nbsp;&nbsp;
                    td 
                      h5#aboute.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left About job&nbsp;&nbsp;&nbsp;
                    td 
                      h5#aboutj.text-left
                  tr
                    td 
                      h5(style='color:#FF1493').text-left Required Profile&nbsp;&nbsp;&nbsp;
                    td 
                      h5#reqpro.text-left
          .row
            .form-group
              .col-lg-1.col-lg-offset-5
                button#apply_btn.btn.btn-default(type='button') Apply
              .col-lg-1
                a#share_btn.btn.btn-primary(href="#", target='_blank')
                  i.fa.fa-lg.fa-facebook-official
                  | &nbsp;&nbsp;Share  
          .row
            .form-group
              .col-lg-12.text-center
                h5(id = 'errtext1', style='visibility:visible;color:#FF1493') &nbsp;

include loginmodal.jade

div.ajaxaction

include scripts.jade
script(src='../js/jobspage_validator.js')
