include header.jade

input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden')

section#section1
.div
  .row
    .col-sm-8.col-sm-offset-2
      .well#well1
        form.form-horizontal.css-form(name='newuserform', novalidate='', autocomplete='off')
          fieldset
            legend.text-center(style='color:#FF1493') Job search
            .form-group
              label#label1.col-sm-1.control-label(for='stext') Search text
              .col-sm-4
                input#stext.form-control(type='text', name='title', placeholder='Please input text to search in Job title & Job details', autocomplete='off')
              label#label6.col-sm-1.control-label.text-left(for='jobcntry') Job location
              .col-sm-3
                input#jobcntry.form-control(type='text', name='jobcntry', placeholder='Country')
              .col-sm-3
                input#jobcity.form-control(type='text', name='jobcity', placeholder='City')
            .form-group
              .col-sm-1.col-sm-offset-1
                button#searchjobs_btn.btn.btn-lg.btn-success(type='submit') Search Jobs
              .col-sm-1.col-sm-offset-2
                button#clearsearch_btn.btn.btn-lg.btn-danger(type='submit', disabled=true) Clear Search  
              .col-sm-8.col-sm-offset-1
                p(id = "errtext1", style="text-align:left;visibility:visible") System Error!!! - Please log out and sign-in again
section#section1
.div
  .row
    .col-sm-8.col-sm-offset-2
      .div#results

  footer
    .row
      .col-sm-3.col-sm-offset-5
        p(style='color:white') © PlugHRjobs 2017 - All rights reserved
    .ajaxaction

include loginmodal.jade

div.ajaxaction

include scripts.jade


