#loginModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-center Please input valid details
      .modal-body
        form#login-form.form-horizontal(autocomplete='off')
          fieldset
            .row
              .form-group
                label.col-lg-3.control-label(for='loginUserId') User id
                .col-lg-6
                  input.form-control(type='text', id='loginUserId', placeholder='User id', autocomplete='off', value=" ")
            .row
              .form-group
                label.col-lg-3.control-label(for='loginPassword') Password
                .col-lg-6
                  input.form-control(type='password', id='loginPassword', placeholder='Your password', autocomplete='off', value=" ")
            .row
              .form-group
                .col-lg-9.col-lg-offset-3
                  p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
            .row
              .form-group
                .col-lg-2.col-lg-offset-3
                  button#exit_btn(type='button', data-dismiss='modal', style='font-weight:bold;letter-spacing:0.2em').btn Exit
                .col-lg-2
                  button#signin_btn(type='submit', style='font-weight:bold;letter-spacing:0.2em').btn Login
            .row
              .form-group
                .col-lg-9.col-lg-offset-3
                  p New User?&nbsp;
                    | &nbsp; &nbsp; &nbsp; &nbsp;
                    a(href='/csignup') Signup as Candidate
                    | &nbsp; &nbsp; &nbsp; &nbsp;
                    a(href='/esignup') Signup as Employer


