include header.jade

section#section1
.row-fluid
  .col-lg-12
    .well
      form#students-form.form-horizontal
        fieldset
          legend.highlight.text-danger Unknown request
          .form-group
            .col-lg-10
              blockquote
                h3.text-danger Oops! We wonder how did you end up here?
                h4.text-default Please select the 'back' option in the browser to go to previous page.
                h4.text-default We will investigate and fix this issue

div.ajaxaction

include scripts.jade

