include header1.jade

.container-fluid(role='main')
  .row-fluid
    .col-lg-6.col-lg-offset-3
      .well
        form#stuupdpwd-form.form-horizontal
          fieldset
            legend
               p.text-default
                 | Please Input a new password & select Submit to update your password. Password should be atleast 8 characters.
               p.text-default
                 | After your password is updated, you will be redirected to login again with your new password
            .form-group
              label.col-lg-4.control-label(for='loginCoId') Company id
              .col-lg-6
                input.form-control(type='text', id='loginCoId', placeholder='Company id', disabled)
            .form-group
              label.col-lg-4.control-label(for='loginUserId') User id
              .col-lg-6
                input.form-control(type='text', id='loginUserId', placeholder='User id', disabled)
            .form-group
              label.col-lg-4.control-label(for='stuPassword1') New Password
              .col-lg-6
                input#stuPassword1.form-control(type='password', name='stuPassword1', placeholder='New Password')
            .form-group
              .col-lg-6.col-lg-offset-4
                input#stuPassword2.form-control(type='password', name='stuPassword2', placeholder='New Password Again')
            .form-group
              .col-lg-6.col-lg-offset-4
                button#newpwd_btn.btn.btn-lg.btn-primary(type='submit') Update Password
              .col-lg-8.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include scripts.jade

