/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
  height: 100%;
	background-color:#CC6F57;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.bg1layer {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar-default {
  background-color: white;
  border-color: white;
  padding-top:1em;
}

.navbar-default .navbar-nav {
  color: #A4A4A4;
  background-color: transparent;
  font-size: 18px;
  //padding-bottom:1em;
}
.navbar-default .navbar-nav > li > a    {
  //color: #4582ec;
  color: black;
  font-weight:normal;
}

.navbar-default .navbar-brand {
  color: black;
  background-color: transparent;
  font-size: 16px;
	font-weight:normal;
	letter-spacing:0.2em
}

#box1    {
  border: 1px solid;
  border-color: #A4A4A4;
  background-color:#F2F2F2;
}
#box-noborder    {
  background-color:#A4A4A4;
}
#box-noshade    {
  border: 1px solid;
  border-color: #A4A4A4;
}
#midsection1    {
  padding-top:4em;
}
#midsection2    {
  padding-top:3em;
}

#text-green {
  color:#298A08;
}

#text-white {
  color:white;
}

#text-grey {
  color:#A4A4A4;
}

#small-text    {
  font-size:14px;
}

#banner-large-white      {
  color:white;
  font-size:72px;
}

#banner-medium-white      {
  color:white;
  font-size:40px;
}

#banner-small-white      {
  color:white;
  font-size:24px;
}

#banner-small      {
  font-size:26px;
}

#small-text-white    {
  padding-top:2.5em;
  color:white;
  font-size:14px;
  font-weight:bold;
}

#Vertline {
  border-left: 1px solid #A4A4A4;
}
#Topline {
  border-top: 1px solid #A4A4A4;
}

#pad-bott   {
  padding-bottom:4em;
}
#pad-top   {
  padding-top:7em;
}

/* Footer Styles */

footer {
    margin: 20px 0;
}

/*
Responsive Styles
@media(max-width:991px) {
  padding-top:2em;
}

@media(max-width:767px) {
  padding-top:10em;
}
*/

#bg1 {
  background: url('../img/homepage.jpg') no-repeat center center;
  position: relative;
  display:block;
  padding-top:10em;
  padding-bottom:5em;
}

#bg2 {
  background: url('../img/why-EqualPro.jpg') no-repeat center center;
  position: relative;
  display:block;
  padding-top:10em;
  padding-bottom:5em;
}

#bg3 {
  background: url('../img/pricing.jpg') no-repeat center center;
  position: relative;
  display:block;
  padding-top:10em;
  padding-bottom:5em;
}

.jumbotron {
  padding-top:2em;
  margin-bottom: 0px;
  color: white;
  background: transparent;
}
.jumbotron h1	{
	color:white;
}
.jumbotron p	{
  padding-top:3em;
	color:white;
	font-size:16px;
}

.circle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  border-radius: 50%;
  width: 15%;
  position: relative;
}

.circle-border {
  border: 2px solid #298A08;
}

.circle-solid {
  background-color: #E6E6E6;
}

.circle:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.circle-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* Pricing Page Styles */
#price-text {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 6em;
  line-height: 0.5em;
  font-weight:bold;
  padding-top:1em;
  color:#298A08;
}
#price {
  padding-top:1em;
  display: block;
  //font-size: 80px;
  color:#298A08;
  //line-height: 50px;
}

#sup {
  top: -20px;
  left: 2px;
  color:#298A08;
  //font-size: 40px;
}

.period {
    padding-top:0.5em;
    display: block;
    font-style: italic;
}

.mandatory      {
  color:red;
}

#hline01  {
  border-color: #e1e1e1;
  color:white;
  text-align:center;
}


#eqphr  {
  border-color: #000000;
  color:white;
  text-align:center;
}

#eqproend  {
  padding-top:6em;
  background-color: #2C3441;
  color:white;

}

#eqprofooter  {
  padding-top:1em;
  background-color: #1D2532;
  color:white;

}
.ajaxaction {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-action.gif') 
                50% 50% 
                no-repeat;
}
/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}
/* Anytime the body has the loading class, our modal element will be visible */
body.loading .ajaxaction {
    display: block;
}
textarea { resize:none; }

a corr {
	color:green;
}
a nocorr {
	color:red;
}
.multiselect {
	background-color: white;
}

@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }
}
.status-green {
    background: #43c83c;
    color : white;
    display: inline-block;
    padding: 2px 5px;
}

.status-red {
    background: #fa3031;
    color : white;
    display: inline-block;
    padding: 2px 5px;
}

.status-yellow {
    background: grey;
    color : white;
    display: inline-block;
    padding: 2px 5px;
}

.notifs-new {
    background: #ffffe0 !important;
}

.notifs-old {
    background: #f5f5f5 !important;
}

#defjob,#postjob, #postevent,#posttrain,#newblog		{
	padding-top:1em;
	padding-bottom:1em;
	letter-spacing: 2px;
  background-color: white;
  border-color: black;
  border: 2px solid black;
  color:black;
  border-radius: 0px;
}

.form-control		{
	background-color:#FAFAFA;
	color:black;
	font-weight:bold;
}

pre {
    overflow: auto;
    border:none;
    white-space: pre-wrap;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
   background:white;
   color: red;
	 font-weight:bold;
   position:relative;
   //top: -20px;
   //left: -35px;
  }
