/* CSS used here will be applied after bootstrap.css */

/* Large Devices, Wide Screens */
/* CSS used here will be applied after bootstrap.css */
html,
body {
  height: 100%;
  //margin-top:3%;
}

.navbar-brand   {
  padding: 0px;
  margin: 0px;
}

.navbar-centertext  {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
	margin-top:1%;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

@media only screen and (max-width : 1200px) {
	body {
    height: 100%;
		//margin-top:10%;
	}
  .collapsing, .in {background-color: white;color:black}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	body {
    height: 100%;
		//margin-top:10%;
	}
  .collapsing, .in {background-color: white;color:black}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	body {
    height: 100%;
		//margin-top:23%;
	}
  .collapsing, .in {background-color: white;color:black}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	body {
    height: 100%;
		//margin-top:24%;
	}
  .collapsing, .in {background-color: white;color:black}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	body {
    height: 100%;
		//margin-top:25%;
	}
  .collapsing, .in {background-color: white;}
  .collapsing ul li a, .in ul li a {color: black!important;}
  .collapsing ul li a:hover, .in ul li a:hover {color: black!important;}
}

#homepage-banner      {     
  color:white;
  font-size:6em;
  padding-left:0.5em;
}

#homepage-logo    {
  color:white;
  font-size:2em;
  font-weight:normal;
  padding-left:1em;
}

#homepage-text      {     
  color:white;
  font-size:2em;
}

#titletxt   {
  color: black;
}

.whitetxt   {
  color: white;
}

#jsearch_btn  {
	padding-top:1em;
	padding-bottom:1em;
	letter-spacing: 2px;
  background-color:black;
  border-color: black;
  color:white;
  border-radius: 0px;
}
#home1-signin,
#showresend_btn   {
	padding-top:1em;
	padding-bottom:1em;
	letter-spacing: 2px;
  background-color: transparent;
  border-color: black;
  color:black;
  border-radius: 0px;
}

#candidate_btn,
#employer_btn   {
	padding-top:1em;
	padding-bottom:1em;
	letter-spacing: 2px;
  background-color: transparent;
  border-color: #00BFFF;
  color:#FF1493;
  border-radius: 0px;
}

#userJoin_btn,
#emplJoin_btn,
#verify_btn,
#resend_btn		{
	//padding-top:1em;
	//padding-bottom:1em;
	letter-spacing: 2px;
  background-color: transparent;
  border-color: black;
  color:black;
  border-radius: 0px;
}

#showlogin_btn		{
	letter-spacing: 2px;
  background-color: transparent;
  border-color: white;
  color:white;
  border-radius: 0px;
}

#exit_btn,
#signin_btn {
	letter-spacing: 2px;
  background-color: black;
  border-color: white;
  color:white;
  border-radius: 0px;
	font-weight:bold;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

#whhr  {
  border-color: grey;
}

