body {
    padding-top: 7%; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.ajaxaction {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('ajax-action.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxaction {
    display: block;
}

.navbar-default .navbar-brand {
  color: #18bc9c;
  background-color: transparent;
  font-size: 26px;
}
.navbar-default .navbar-text {
  color: white;
  background-color: transparent;
  font-size: 16px;
}
#beta {
  //color: #f8694d;
  color: #ffde00;
  background-color: transparent;
  font-size: 14px;
}

.btn {
    margin: 2px;
}
.well {
    padding: 7px;
}

.enteem_acr .ui-accordion-header {
  //font-family: 'Poiret One', cursive;
  //font-size: 18px;
  //font-weight:bold;
  //background-color: transparent;
  background: #202d3b;
}
.enteem_acr .ui-accordion-header a {
  color:#18bc9c;
}

.nav-tabs > li, .nav-pills > li {
  background: transparent;
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:left;
  padding:0em 1em;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  padding:10px; 
  color:#18bc9c;
  cursor: default;
  background: #ecf0f1;
  border: 2px solid #ecf0f1;
  border-bottom-color: transparent;
} 

.table thead {
  color:#18bc9c;
  background: #202d3b;
}

.row-delete {
    display: inline-block;
    width: 10px;
}

.eng-status {
  display: inline-block;
  padding: 2px 5px;
  color:#fff;
}

.eng-status.status-approved {
  background: #43c83c;
}

.eng-status.status-pending {
  background: #B96A9A;
}

.eng-status.status-rejected {
  background: #fa3031;
}

.pagination li {
  float: left;
  cursor: pointer;
  margin-right:0.25em;
  margin-bottom:0.5em;

}

textarea { resize:none; }

/*
body{
  color:#2B2B2B;
	font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
}
body.dark {
  background: #444;
  color:#ffd;
}
	
.demo-container {
	margin:10px;
}

code {
    background: #ddd;
    padding:2px 5px;
}

.foo-setup li {
	margin-bottom:30px;
}

#MesgModel
{ 
  border: solid #202d3b 2px;
}

.enteem_acr {
	width: 80%;
	margin: auto;
	text-align:left;
}
.enteem_acr .ui-accordion-header a {
  color:#18bc9c;
	//color: #08088A;
	line-height: 18px;
	display: block;
	font-size: 12pt;
	width: 100%;
	text-indent: 10px;
}
.enteem_acr .ui-accordion-content {
	width: 100%;
	background-color: white;
	color: #08088A;
	font-size: 12pt;
    font-weight:normal;
    text-align:left;
	line-height: 16pt;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
				inset 0px -1px 0px 0px rgba(0, 0, 0, .4);
}
.enteem_acr .ui-accordion-content > * {
	margin: 0;
	padding: 20px;
}
.enteem_acr .ui-accordion-content a {
	color: #777;
}
*/


