include admusr_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.container.theme-showcase(role='main')
  .row-fluid
    .col-lg-12
      .well
        form#students-form.form-horizontal
          fieldset
            legend.highlight.text-success Welcome back to plugHRapp
            .form-group
              .col-lg-10
                blockquote
                  p.text-default
                    | Please select appropriate menu actions above to manage plugHRapp
                  p.text-default
                    | When you are done, managing plugHRapp, Please don't forget to logout.

div.ajaxaction

include admusr_js.jade
script(src='../js/admusr_home_validator.js')


