include admusr_header.jade

.container-fluid(role='main')
  input#licdata(type='text', name='licdata', value = "", style="visibility:hidden" )
  input#totmesgs(type='text', name='totmesgs', value = "", style="visibility:hidden" )
  .row-fluid
    .col-lg-12
      .well
        form#students-messages-form.form-horizontal
          fieldset
            legend.text-center.text-success Manage Company Licenses
            .form-group
              label.col-lg-2.col-lg-offset-2.control-label(for='comid') Please Input Company id
              .col-lg-2
                input#comid.form-control(type='text', name='comid', placeholder='Company id')
              .col-lg-2
                button#search_btn.btn.btn-success(type='submit') Show Licenses
              .col-lg-2
                button#addnew_btn.btn.btn-primary(type='button', disabled) Add New License
            .form-group
              .col-lg-6.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") Messages go here

  .row-fluid
    .col-lg-12
      .well
        form#licenselist-form.form-horizontal
          fieldset
            .form-license
              .col-lg-12
                table#licenseTable.table.license.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#licensepages

  #licenseModal.modal(data-backdrop="static" data-keyboard="false")
    .modal-dialog
      .col-lg-10
        form#license-form.form-horizontal
          .modal-content
            .modal-header
              h4.modal-title.text-success Assign New license to Company
            .modal-body
                fieldset
                 input#rowindex(type='text', disabled = 'true', style="visibility:hidden" )
                .form-group
                  label.col-lg-4.control-label(for='uid') Company ID
                  .col-lg-7
                    input#coid.form-control(type='text', name='coid' )
                  .col-lg-1
                    input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
                .form-group
                  label.col-lg-4.control-label(for='sdate') Start date
                  .col-lg-7
                    input#sdate.form-control(type='text', name='sdate', placeholder='dd/mm/yyyy' )
                .form-group
                  label.col-lg-4.control-label(for='ldate') End date
                  .col-lg-7
                    input#edate.form-control(type='text', name='edate', placeholder='dd/mm/yyyy' )
                .form-group
                  label.col-lg-4.control-label(for='lictype') Users
                  .col-lg-7
                    input#users.form-control(type='text', name='users' )
                .form-group
                  label.col-lg-4.control-label(for='notes') Notes
                  .col-lg-7
                    textarea#notes.form-control(name='notes', rows = '6' )
                .form-group
                  .col-lg-8.col-lg-offset-4
                    p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
            .modal-footer
              button.btn.btn-danger(type='button', data-dismiss='modal') Exit
              button#addlic_btn.btn.btn-primary(type='submit') Create
              button#updlic_btn.btn.btn-primary(type='submit') Update

div.ajaxaction

include admusr_js.jade
script(src='../js/104_validator.js')

