include admusr_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Manage Consultants
					.row
						.form-group
							label.col-lg-2.control-label(for='cname') Consultant Name
							.col-lg-3
								input#cname.form-control(type='text', name='cname', placeholder='Consultant Name')
							label.col-lg-2.control-label(for='email') Email ID
							.col-lg-3
								input#email.form-control(type='text', name='email', placeholder='Email ID')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='pwd1') Password
							.col-lg-3
								input#pwd1.form-control(type='password', name='pwd', placeholder='Password')
							.col-lg-3.col-lg-offset-2
								input#pwd2.form-control(type='password', name='pwd', placeholder='Reconfirm Password')
					.row
						.form-group
							label.col-lg-2.control-label(for='gender') Gender
							.col-lg-3
								select#gender-list.form-control(name='gender')
									option(value=1,selected = true)= "Female"
									option(value=2)= "Male"
							label.col-lg-2.control-label(for='comp') Company Name
							.col-lg-3
								input#comp.form-control(type='text', name='comp', placeholder='Company Name')
					.row
						.form-group
							label.col-lg-2.control-label(for='addr1') Address
							.col-lg-3
								input#addr1.form-control(type='text', name='addr1', placeholder='Address')
							.col-lg-3.col-lg-offset-2
								input#addr2.form-control(type='text', name='addr2', placeholder='Address')
					.row
						.form-group
							label.col-lg-2.control-label(for='city') City
							.col-lg-3
								input#city.form-control(type='text', name='city', placeholder='City', onChange="return capitaliseFirstLetter(this)")
							label.col-lg-2.control-label(for='pcode') Pincode
							.col-lg-3
								input#pcode.form-control(type='text', name='pcode', placeholder='Pincode', onkeypress="return isNumberKey(event)")
					.row
						.form-group
							label.col-lg-2.control-label(for='ccno') Credit Card Number
							.col-lg-3
								input#ccno.form-control(type='text', name='ccno', placeholder='Credit Card Number', onkeypress="return isNumberKey(event)")
							label.col-lg-2.control-label(for='ccdate') Valid upto
							.col-lg-3
								input#ccdate.form-control(type='text', name='ccdate', placeholder='Valid upto')
					.row
						.form-group
							label.col-lg-2.control-label(for='ccname') Name in card
							.col-lg-3
								input#ccname.form-control(type='text', name='ccname', placeholder='Name in card')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.consul.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include admusr_js.jade
script(src='../js/107_validator.js')
