include admusr_header.jade

.container-fluid(role='main')
  .row-fluid
    .col-lg-6.col-lg-offset-3
      .well
        form#stuupdpwd-form.form-horizontal
          fieldset
            .form-group
              label.col-lg-2.col-lg-offset-2.control-label(for='comid') Company id
              .col-lg-6
                input#comid.form-control(type='text', name='comid', placeholder='Company id')
            .form-group
              label.col-lg-2.col-lg-offset-2.control-label(for='userid') User id
              .col-lg-6
                input#userid.form-control(type='text', name='userid', placeholder='User id')
            .form-group
              label.col-lg-4.control-label(for='stuPassword1') New Password
              .col-lg-6
                input#stuPassword1.form-control(type='password', name='stuPassword1', placeholder='New Password')
            .form-group
              .col-lg-6.col-lg-offset-4
                input#stuPassword2.form-control(type='password', name='stuPassword2', placeholder='New Password Again')
            .form-group
              .col-lg-6.col-lg-offset-4
                button#updpwd_btn.btn.btn-lg.btn-primary(type='submit') Update Password
              .col-lg-8.col-lg-offset-4
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

div.ajaxaction

include admusr_js.jade
script(src='../js/108_validator.js')

