include pradmin_header.jade

.container.theme-showcase(role='main')
  .row-fluid
    .col-lg-12
      .well
        form#students-form.form-horizontal
          fieldset
            legend.highlight.text-success Welcome back to plugHRapp
            .form-group
              .col-lg-10
                blockquote
                  p.text-default
                    | Please select appropriate menu actions above to use plugHRapp
                  p.text-default
                    | When you are done, working with plugHRapp, Please don't forget to logout.

div.ajaxaction

include pradmin_js.jade
script(src='../js/pradmin_home_validator.js')


