doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='img/favicon.ico')
  title plugHRapp - Streamlined HR

  include pradmin_css.jade

body
  // Fixed navbar
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#eqp-navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') PLUGHRAPP.COM
      // Collect the nav links, forms, and other content for toggling
      #eqp-navbar.collapse.navbar-collapse
        b.navbar-text(id = 'ccoid') #{curruser.coid}
        b.navbar-text(id = 'cuserid') #{curruser.userid}
        ul.nav.navbar-nav
          ul.nav.navbar-nav
            li
              a(href='/301') Home
          li.dropdown
            a#loggedinOwner.dropdown-toggle(href='#', data-toggle='dropdown')
              | Self Activities
              b.caret
            ul.dropdown-menu
              li
                a(href='/303') Update Password

        form.navbar-form.navbar-right
          button#logout_btn.btn.navbar-btn.btn-success Logout 

