    include hradmin_css.jade

  body(role='document')
    // Fixed navbar
    .navbar#enteem_nav.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand() plugHRapp
        .navbar-collapse.collapse
          b.navbar-text(id = 'cuser') #{curruser.user}
          ul.nav.navbar-nav
            li
              a(id='202', href='202') Update Profile
            li
              a(id='204', href='204') Update Password
          form.navbar-form.navbar-right
            button#logout_btn.btn.btn-info(type='submit') Log out
        // /.nav-collapse


    block modal
        #ContactModal.modal(data-backdrop="static" data-keyboard="false")
          .modal-dialog
            .col-lg-10
              form#contact-form.form-horizontal
                .modal-content
                  .modal-header
                    h4.modal-title.text-success Send Message to Enteem Admin
                  .modal-body
                      fieldset
                      .form-group
                        label.col-lg-3.control-label(for='csub') Subject
                        .col-lg-7
                          input#csub.form-control(type='text', name='csub' placeholder = '')
                      .form-group
                        label.col-lg-3.control-label(for='cmesg') Message
                        .col-lg-7
                          textarea#cmesg.form-control(name='cmesg', rows='10')
                          p(id = "errtext0", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
                  .modal-footer
                    button.btn.btn-danger(type='button', data-dismiss='modal') Exit
                    button#message_btn.btn.btn-primary(type='submit') Send

    div.ajaxaction




