// Placed at the end of the document so the pages load faster
script(src='./js/jquery-1.11.0.min.js')
script(src='./js/bootstrap.min.js')
script(src='./js/jquery-ui-1.10.4.js')
script(src='./js/error_handler.js')
script(src='./js/ajax.js')

