include header.jade

section#section1
.row-fluid
  .col-lg-12
    .well
      form#students-form.form-horizontal
        fieldset
          legend(style='color:#FF1493') Verify your email id
          .form-group
            .col-lg-8
              p.text-default
                | If you have received your verification code, Please input the same and press Verify.
          .form-group
            label.col-lg-2.control-label(for='verID') Verification Code
            .col-lg-8
              input#verID.form-control(type='text', name='verID', placeholder='Please input 16-character verification code')
          .form-group
            .col-lg-6.col-lg-offset-2
              button#verify_btn.btn.btn-primary(type='submit') Verify
            .col-lg-8.col-lg-offset-2
              p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

.row-fluid
  .col-lg-12
    .well
      form#students-form.form-horizontal
        fieldset
          legend(style='color:#FF1493') Receive verification code again
          .form-group
            .col-lg-8
              p(style='color:#00BFFF')
                | If you have NOT received your verification code, Please input your email id and press Submit.
          .form-group
            label.col-lg-2.control-label(for='emailid') Email ID
            .col-lg-8
              input#emailid.form-control(type='email', name='emailid', placeholder='Please input valid email id')
          .form-group
            .col-lg-6.col-lg-offset-2
              button#resend_btn.btn.btn-primary(type='submit') Submit
            .col-lg-8.col-lg-offset-2
              p(id = "errtext2", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

include loginmodal.jade

div.ajaxaction

include company_js.jade
script(src='../js/company_verify_validator.js')
script(src='./js/home_validator.js')

