include header.jade

section#section1
.row-fluid
  .col-lg-12
    .well
      form#students-form.form-horizontal
        fieldset
          legend.highlight(style='color:#FF1493')  Thank you for signing up!
          .form-group
            .col-lg-10
              blockquote
                p.text-default
                  |  Please check your email for the verification link. 
                p.text-default
                  |  Click that link so we know you're not a robot. 
                p.text-default
                  |  Then we'd send you login credentials by another email.

div.ajaxaction

include company_js.jade
script(src='../js/company_verify_validator.js')

