include header.jade

section#section1
.row-fluid
  .col-lg-12
    .well
      form#students-form.form-horizontal
        fieldset
          legend.highlight.text-danger Email id verification failed.
          .form-group
            .col-lg-10
              blockquote
                p.text-default
                  | Please verify the Activation code.
                p.text-default
                  | You can regenerate the Activation code&nbsp;
                  a#verf(href='/emailverify') here 

div.ajaxaction

include company_js.jade
script(src='../js/company_verify_validator.js')

