include header.jade

section#section1
  .row-fluid
    .col-lg-12
      .well
        form#students-form.form-horizontal
          fieldset
            legend.highlight.text-success Thank you for verifying your Email Id.
            .form-group
              .col-lg-10
                blockquote
                  p.text-default
                    | Please log in to Workhalf using your emailid and password.

include loginmodal.jade

div.ajaxaction

include company_js.jade
script(src='./js/home_validator.js')

