include employee_header.jade

input#rperioddata(type='text', size='1', name='rperioddata', value = '#{rperioddata}', style='visibility:hidden')
input#ugoaliddata(type='text', size='1', name='ugoaliddata', value = '#{ugoaliddata}', style='visibility:hidden')
input#formdata(type='text', size='1', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', size='1', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', size='1', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Assign Self targets
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							.col-lg-2
								button#search_btn.btn.btn-success(type='submit') Search for targets
							.col-lg-1
								button#clear_btn.btn.btn-danger(type='button') Clear Search
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.form-group
							label.col-lg-2.control-label(for='ugoalid') Select target
							.col-lg-3
								select#ugoalid-list.form-control(name='ugoalid', disabled)
							label.col-lg-2.control-label(for='wt') Weightage (%)
							.col-lg-3
								input#wt.form-control(type='text', name='wt', placeholder='Weightage (%)', onkeypress="return isNumberKey(event)", disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='meets') Expected Performance
							.col-lg-3
								textarea#meets.form-control(rows = '4', name='meets', placeholder='Expected Performance to meet this target\'s objectives', disabled)
							.col-lg-1
								input#prev_wt.form-control(type='text', name='prev_wt', disabled, style='visibility:hidden')
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='button', disabled) Add New
							.col-lg-2
								button#upd_btn.btn.btn-success(type='button', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.usergoals.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/404_validator.js')

