include employee_header.jade

input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Education
					.row
						.form-group
							label.col-lg-2.control-label(for='dearned') Degree Earned
							.col-lg-3
								input#dearned.form-control(type='text', name='dearned', placeholder='Degree Earned')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='dlevel') Edu Level
							.col-lg-3
								select#dlevel-list.form-control(name='dlevel')
									option(value=1)= "High School"
									option(value=2)= "Higher Secondary School"
									option(value=3,selected = true)= "Bachelors Degree"
									option(value=4)= "Masters Degree"
									option(value=5)= "UG Diploma"
									option(value=6)= "PG Diploma"
									option(value=7)= "MBA"
									option(value=8)= "Phd"
					.row
						.form-group
							label.col-lg-2.control-label(for='dyear') Completed Year
							.col-lg-3
								input#dyear.form-control(type='text', name='dyear', placeholder='Completed Year')
					.row
						.form-group
							label.col-lg-2.control-label(for='duni') University
							.col-lg-3
								input#duni.form-control(type='text', name='duni', placeholder='University')
					.row
						.form-group
							label.col-lg-2.control-label(for='dcollege') College
							.col-lg-3
								input#dcollege.form-control(type='text', name='dcollege', placeholder='College')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.useredu.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/405_validator.js')

