include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Experiences
					.row
						.form-group
							label.col-lg-2.control-label(for='org') Organisation
							.col-lg-3
								input#org.form-control(type='text', name='org', placeholder='Organisation', onChange="return capitaliseFirstLetter(this)")
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Job Title
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Job Title', onChange="return capitaliseFirstLetter(this)")
					.row
						.form-group
							label.col-lg-2.control-label(for='sdate') Start Date
							.col-lg-3
								input#sdate.form-control(type='text', name='sdate', placeholder='Start Date')
					.row
						.form-group
							label.col-lg-2.control-label(for='edate') End Date
							.col-lg-3
								input#edate.form-control(type='text', name='edate', placeholder='End Date')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.workexp.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include employee_js.jade
script(src='../js/406_validator.js')

