include employee_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#hpdata(type='text', name='hpdata', value = '#{hpdata}', style='visibility:hidden' )
input#hiddata(type='text', name='hiddata', value = '#{hiddata}', style='visibility:hidden' )
input#onamedata(type='text', name='onamedata', value = '#{onamedata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team Holiday Plans
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select Team member
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Search
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend#pgtitle.text-center Holiday List
					.row
						.form-group
							label.col-lg-2.control-label.text-success(for='mxopt') Max allowed optional holidays
							.col-lg-1
								input#mxopt.form-control(type='text', name='mxopt')
							label.col-lg-2.control-label.text-success(for='used') Total availed holidays
							.col-lg-1
								input#used.form-control(type='text', name='used')
							.col-lg-6
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

					.row
						.col-lg-12
							table#listTable.table.holidaypolicy.table-bordered.table-striped.table-hover
								thead
								tbody


div.ajaxaction

include employee_js.jade
script(src='../js/407_validator.js')

