include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Company Information
					.row
						.form-group
							label.col-lg-2.col-lg-offset-1(style='font-weight: bold') Company Name
							.col-lg-3
								p#cname
					.row
						.form-group
							label.col-lg-2.col-lg-offset-1(style='font-weight: bold') Corporate Website
							.col-lg-3
								p#cwebsite
					.row
						.form-group
							label.col-lg-2.col-lg-offset-1(style='font-weight: bold') About Company
							.col-lg-8
								p#abtus(style='white-space: pre-wrap;')
					.row
						.form-group
							label.col-lg-2.col-lg-offset-1(style='font-weight: bold') Company logo
							.col-lg-2
								img#userpict.img-responsive.img-thumbnail(src='img/not_available.gif', alt='No Logo Uploaded', border='2', title='Company Logo')
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction

include employee_js.jade
script(src='../js/408_validator.js')
