include employee_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden')
input#lnamedata(type='text', name='lnamedata', value = '#{lnamedata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Open Leave requests
					.row
						.form-group
						.col-lg-12
							table#listTable.table.empleaves.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

div.ajaxaction

include employee_js.jade
script(src='../js/409_validator.js')

