include employee_header.jade

input#empdata(type='text', name='empdata', value = '#{empdata}', style='visibility:hidden')
input#skilldata(type='text', name='skilldata', value = '#{skilldata}', style='visibility:hidden')
input#skrdata(type='text', name='skrdata', value = '#{skrdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
input#roleskills(type='text', name='roleskills', value = '#{roleskills}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team skills
					.row
						.form-group
							label.col-lg-2.control-label(for='emp') Select employee
							.col-lg-3
								select#emp-list.form-control(name='emp')
							.col-lg-1
								button#search_btn.btn.btn-success(type='submit') Search
							.col-lg-1
								button#clear_btn.btn.btn-danger(type='button') Clear Search
							.col-lg-1
								button#upd_btn.btn.btn-primary(type='button', disabled) Update skill ratings
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.userskills.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

include 412modal.jade

div.ajaxaction

include employee_js.jade
script(src='../js/412_validator.js')
