#skillsModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success.text-center Team member skill ratings
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.form-group
							.col-lg-12
								table#listTable.table.skills.table-bordered.table-striped.table-hover
									thead
									tbody

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Ignore changes
				button#save_btn.btn.btn-primary(type='button') Save Changes

