include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-4.col-lg-offset-4
		.well
			form#addphoto-form.form-horizontal(method="POST", action="/userpictul", enctype="multipart/form-data")
				fieldset
					.row
						.form-group
							.col-lg-12
								legend.text-center Profile Photo
					.row
						.form-group
							.col-lg-4.col-lg-offset-4
								//img#userpict(src='/img/userpics/not_available.gif', alt='No Photo Uploaded', width='200', height='200', border='2', title='User Photo')
								img#userpict.img-responsive.img-thumbnail(src='img/not_available.gif', alt='No Photo Uploaded', border='2', title='User Photo')
					.row
						.form-group
							.col-lg-4.col-lg-offset-4
								a(id='updphoto') select new photo
					.row
						.form-group
							.col-lg-4.col-lg-offset-4
								button#updphoto_btn.btn-lg.btn-success(type='submit') Save Photo
					.row
						.form-group
							.col-lg-8.col-lg-offset-4
								p(id = "message", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again
							.col-lg-1
								input#pictfile(type='file', name='pictfile', style="visibility:hidden;")
								input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
								input#uuserid(type='text', name='uuserid', value = "#{curruser.userid}", style="visibility:hidden")

div.ajaxaction

include employee_js.jade
script(src='../js/jquery.form.js')
script(src='../js/424_validator.js')


