include employee_header.jade

input#depdata(type='text', name='depdata', size='1', value = '#{depdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata',  size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata',  size='1', value = '#{locdata}', style='visibility:hidden')
input#skilldata(type='text', name='skilldata', size='1',  value = '#{skilldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1',  value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1',  value = '#{totpages}', style='visibility:hidden' )
input#listquery(type='text', name='listquery', size='1',  value = "", style="visibility:hidden" )

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Search Employees
					.row
						.form-group
							label.col-lg-2.control-label(for='addr') Where they live
							.col-lg-3
								input#addr.form-control(type='text', name='addr', placeholder='Where they live')
							label.col-lg-2.control-label(for='bgrp') Blood Group
							.col-lg-2
								select#bgrp-list.form-control(name='bgrp', multiple='multiple')
									option(value=1)= "O-"
									option(value=2)= "O+"
									option(value=3)= "A-"
									option(value=4)= "A+"
									option(value=5)= "B-"
									option(value=6)= "B+"
									option(value=7)= "AB-"
									option(value=8)= "AB+"
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='uni') University
							.col-lg-3
								input#uni.form-control(type='text', name='uni', placeholder='University')
							label.col-lg-2.control-label(for='degree') Degree Earned
							.col-lg-3
								input#degree.form-control(type='text', name='degree', placeholder='Degree Earned')
					.row
						.form-group
							label.col-lg-2.control-label(for='college') College
							.col-lg-3
								input#college.form-control(type='text', name='college', placeholder='College')
							label.col-lg-2.control-label(for='emp') Past Employer
							.col-lg-3
								input#emp.form-control(type='text', name='emp', placeholder='Past Employer')
					.row
						.form-group
							label.col-lg-2.control-label(for='pint') Personal Interests
							.col-lg-3
								select#pint-list.form-control(name='pint', multiple='multiple')
									option(value=1)= "Listening To Classical Music"
									option(value=2)= "Listening To Film Music"
									option(value=3)= "Stamp Collection"
									option(value=4)= "Coin Collection"
									option(value=5)= "Reading Books - Fiction"
									option(value=6)= "Reading Books - Non-Fiction"
									option(value=7)= "Playing Musical Instruments"
									option(value=8)= "Writing Diary"
									option(value=9)= "Gardening"
									option(value=10)= "Photography - Wildlife, Nature, Portrait"
									option(value=11)= "Dancing"
									option(value=12)= "Watching TV"
									option(value=13)= "Writing Poems"
									option(value=14)= "Politics"
									option(value=15)= "Business and Economics"
									option(value=16)= "Stocks and Investing"
									option(value=17)= "Painting"
									option(value=18)= "Watching Movies"
									option(value=19)= "Cooking"
									option(value=20)= "Collecting Antiques"
									option(value=21)= "Knitting"
									option(value=22)= "Sewing"
									option(value=23)= "Making Crafts"
									option(value=24)= "Chatting"
									option(value=25)= "Playing Cards"
									option(value=26)= "Doing Magic"
									option(value=27)= "Watching Cartoons"
									option(value=28)= "Adventurous Sports"
									option(value=29)= "Collecting Pens"
									option(value=30)= "Fishing"
									option(value=31)= "Horse Riding"
									option(value=32)= "Playing Computer Games"
									option(value=33)= "Playing Football"
									option(value=34)= "Playing Volleyball"
									option(value=35)= "Playing Basket Ball"
									option(value=36)= "Playing Cricket"
									option(value=37)= "Playing Tennis"
									option(value=38)= "Playing Badmitton"
									option(value=39)= "Playing Golf"
									option(value=40)= "Running / Jogging"
									option(value=41)= "Going for a Long Drive"
									option(value=42)= "Playing Chess"
									option(value=43)= "Collecting Postcards"
									option(value=44)= "Star Gazing"
									option(value=45)= "Traveling and Exploring New Places"
									option(value=46)= "Flying Kites"
									option(value=47)= "Drawing and Sketching"
							label.col-lg-2.control-label(for='skill') Skills
							.col-lg-3
								select#skill-list.form-control(name='skill', multiple='multiple')

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-primary(type='submit') Search
							.col-lg-6
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/426_validator.js')

