include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#adddocs-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Company Induction
					.row
						.form-group
							.col-lg-6.col-lg-offset-3
								p#cfile.text-info Filename
								<!-- 16:9 aspect ratio -->
								.embed-responsive.embed-responsive-16by9
										iframe#indcdoc.embed-responsive-item(src='')
					.row
						.form-group
							.col-lg-4.col-lg-offset-3
								a(href='/429')#exam_btn.btn-lg.btn-success Goto Induction Exam

div.ajaxaction

include employee_js.jade
script(src='../js/428_validator.js')

