include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#totqs(type='text', name='totqs', value = '#{totqs}', style='visibility:hidden' )

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							.div.alert.alert-default
								h3.text-center.text-success Induction Examination
					.row
						.form-group
							.col-lg-6.col-lg-offset-3
								.div.alert.alert-info
									h3#qtext
					.row
						.form-group
							.col-lg-6.col-lg-offset-3
								h4#htext.text-center.text-danger
					.row
						.form-group
							.col-lg-6.col-lg-offset-3
								.div#choices
					.row
						.form-group
							.col-lg-2.col-lg-offset-3
								button#prev_btn.btn-lg.btn-success(type='button') Previous
							.col-lg-2.col-lg-offset-3
								button#next_btn.btn-lg.btn-success(type='button') Next
					.row
						.form-group
							.col-lg-6.col-lg-offset-3
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.anstable.table-bordered.table-striped.table-hover
								thead
								tbody

div.ajaxaction

include employee_js.jade
script(src='../js/429_validator.js')


