include employee_header.jade
link(href='./css/pickmeup.css', rel='stylesheet')

input#hdaydata(type='text', name='hdaydata', size='1', value = '#{hdaydata}', style='visibility:hidden')
input#emplvdata(type='text', name='emplvdata', size='1', value = '#{emplvdata}', style='visibility:hidden')
input#codata(type='text', name='codata', size='1', value = '#{codata}', style='visibility:hidden')
input#lnamedata(type='text', name='lnamedata', size='1', value = '#{lnamedata}', style='visibility:hidden')
input#lvdata(type='text', name='lvdata', size='1', value = '#{lvdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')
input#tol_lv_bal(type='text', name='tol_lv_bal', size='1', value = '', style='visibility:hidden')
input#tol_lv_avbl(type='text', name='tol_lv_avbl', size='1', value = '', style='visibility:hidden')
input#edit_lv(type='text', name='edit_lv', size='1', value = '', style='visibility:hidden')
input#utype(type='text', name='utype', size='1', value = '#{curruser.emptype}', style='visibility:hidden')
input#prob(type='text', name='prob', size='1', value = '#{curruser.status}', style='visibility:hidden')
input#doj(type='text', name='utype', size='1', value = '#{curruser.doj}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Avail Leaves
					.row
						.form-group
							label.col-lg-2.control-label(for='lname') Select Leave Type
							.col-lg-3
								select#lname-list.form-control(name='lname', onChange="show_leave_details(this.value)")
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label Leave criteria
							.col-lg-8
								h5#lcrt.text-default.text-left(for='lcrt') Leave Criteria
					.row
						.form-group
							label.col-lg-2.control-label Leave Accrual policy
							.col-lg-8
								h5#laccp.text-default.text-left Accrual period
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								h5#lavbl.text-success.text-left.strong Leave Balance
							//.col-lg-2
								//h5#paccrd.text-primary.text-left Prev accrued
							//.col-lg-2
								//h5#ptakn.text-danger.text-left Prev utilized
							//.col-lg-2
								//h5#laccrd.text-primary.text-left Accrued leave
							//.col-lg-2
								//h5#ltakn.text-danger.text-left Utilised leave
					.row
						.form-group
							label.col-lg-2.control-label(for='ldays') Full Leave days
							.col-lg-6
								input#ldays.form-control(type='text', name='ldays', placeholder='Please select consecutive leave days', readonly)
					.row
						.form-group
							label.col-lg-2.control-label(for='hdays') Half Leave days
							.col-lg-6
								input#hdays.form-control(type='text', name='hdays', placeholder='Please select consecutive leave days', readonly)
					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit') Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:visible') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.empleaves.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include employee_js.jade
script(src='../js/jquery.pickmeup.min.js')
script(src='../js/430_validator.js')

