include employee_header.jade

input#deptdata(type='text', name='deptdata', size='1', value = '#{deptdata}', style='visibility:hidden')
input#rperioddata(type='text', name='rperioddata', size='1', value = '#{rperioddata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )
input#userdata(type='text', name='userdata', size='1', value = '#{userdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata', size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata', size='1', value = '#{locdata}', style='visibility:hidden')
input#goalsdata(type='text', name='goalsdata', size='1', value = '#{goalsdata}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Performance tasks creation status
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review Period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							.col-lg-2
								button#search_btn.btn.btn-success(type='button') Show Team
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include employee_js.jade
script(src='../js/431_validator.js')

