include employee_header.jade

input#rleveldata(type='text', name='rleveldata', size='1', value = '#{rleveldata}', style='visibility:hidden')
input#goalsdata(type='text', name='goalsdata', size='1', value = '#{goalsdata}', style='visibility:hidden')
input#rperioddata(type='text', name='rperioddata', size='1', value = '#{rperioddata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden')
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden')
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center View/Rate self targets
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review Period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							.col-lg-1
								button#search_btn.btn.btn-primary(type='submit') Show targets
							.col-lg-1
								button#clear_btn.btn.btn-danger(type='button' disabled) Clear search
							.col-lg-2
								button#submit_btn.btn.btn-success(type='button' disabled) Submit Performance Progress
							.col-lg-2
								button#view_btn.btn.btn-primary(type='button') View Incentives Plan
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							.col-lg-6.col-lg-offset-2
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							#accordion1.goals_acr(style="visibility:visible;")
								.goalslist

include 432modal.jade

div.ajaxaction

include employee_js.jade
script(src='../js/432_validator.js')

