#GoalModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Update tasks
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_tdesc') Task Desc
								.col-lg-6
									input#modal_tdesc.form-control(type='text', name='modal_tdesc', placeholder='Describe the task')
								.col-lg-1
									input#modal_dbid.form-control(type='text', name='dbid', style='visibility:hidden')
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_tdate') Completion Date
								.col-lg-6
									input#modal_tdate.form-control(type='text', name='modal_tdate', placeholder='Planned completion date')
								.col-lg-1
									input#modal_tid.form-control(type='text', name='modal_tid', style='visibility:hidden')
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_tsts') Status
								.col-lg-6
									select#modal_tsts.form-control(name='modal_tsts')
										option(value=0,selected = true)= "Incomplete"
										option(value=1)= "Completed"
								.col-lg-1
									input#modal_indx.form-control(type='text', name='modal_indx', style='visibility:hidden')
						.row
							.form-group
								.col-lg-10.col-lg-offset-1
									p(id = 'errtext2', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#taskupd_btn.btn.btn-primary(type='button') Update

#RatingModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Update self rating
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_tsts') Select rating
								.col-lg-6
									select#modal_rating.form-control(name='modal_rating')
								.col-lg-1
									input#modal_goalid.form-control(type='text', name='modal_goalid', style='visibility:hidden')
								.col-lg-1
									input#modal_dbid1.form-control(type='text', name='dbid1', style='visibility:hidden')
								.col-lg-1
									input#modal_indx1.form-control(type='text', name='modal_indx', style='visibility:hidden')
						.row
							.form-group
								.col-lg-10.col-lg-offset-1
									p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#ratingupd_btn.btn.btn-primary(type='button') Update

