include employee_header.jade

input#empdata(type='text', name='empdata', size='1', value = '#{empdata}', style='visibility:hidden')
input#depdata(type='text', name='depdata', size='1', value = '#{depdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata',  size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata',  size='1', value = '#{locdata}', style='visibility:hidden')
input#skilldata(type='text', name='skill',  size='1', value = '#{skilldata}', style='visibility:hidden')
input#kradata(type='text', name='kra',  size='1', value = '#{kradata}', style='visibility:hidden')
input#skrdata(type='text', name='skrdata',  size='1', value = '#{skrdata}', style='visibility:hidden')
input#uskldata(type='text', name='uskldata',  size='1', value = '#{uskldata}', style='visibility:hidden')

input#formdata(type='text', disabled, name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Official data
          .row
            .form-group
              label.col-lg-2.control-label(for='uid') User ID
              .col-lg-3
                input#uid.form-control(type='text', disabled, name='uid')
              label.col-lg-2.control-label(for='uname') Full Name
              .col-lg-3
                input#uname.form-control(type='text', disabled, name='uname')
          .row
            .form-group
              label.col-lg-2.control-label(for='dep') Department
              .col-lg-3
                input#dep.form-control(type='text', disabled, name='dep')
              label.col-lg-2.control-label(for='role') Role
              .col-lg-3
                input#role.form-control(type='text', disabled, name='role')
          .row
            .form-group
              label.col-lg-2.control-label(for='mgr') Reporting To
              .col-lg-3
                input#mgr.form-control(type='text', disabled, name='mgr')
              label.col-lg-2.control-label(for='desg') Designation
              .col-lg-3
                input#desg.form-control(type='text', disabled, name='desg')
          .row
            .form-group
              label.col-lg-2.control-label(for='loc') Work Location
              .col-lg-3
                input#loc.form-control(type='text', disabled, name='loc')
              label.col-lg-2.control-label(for='etype') Employment Type
              .col-lg-3
                input#etype.form-control(type='text', disabled, name='etype')
          .row
            .form-group
              label.col-lg-2.control-label(for='sts') Employment Status
              .col-lg-3
                input#sts.form-control(type='text', disabled, name='sts')
              label.col-lg-2.control-label(for='sdate') Start date
              .col-lg-3
                input#sdate.form-control(type='text', disabled, name='sdate')
          .row
            .form-group
              label.col-lg-2.control-label(for='probdate') Probation end date
              .col-lg-3
                input#probdate.form-control(type='text', disabled, name='probdate')
.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Key result areas for your role
          .row
            .form-group
              .col-lg-12
                table#listTable.table.kra.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#listpages

.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Your skills
          .row
            .form-group
              .col-lg-12
                table#listTable.table.skills.table-bordered.table-striped.table-hover
                  thead
                  tbody
                ul#listpages

div.ajaxaction

include employee_js.jade
script(src='../js/433_validator.js')

