#fupdmodal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Upload incentives plan
			.modal-body
				form#adddocs-form.form-horizontal(method="POST", action="/invcdocsul", enctype="multipart/form-data")
					fieldset
						.row
							.form-group
								.col-lg-9.col-lg-offset-1
									.input-group
										span.input-group-btn
											button#selectfile_btn.btn.btn-primary(type='button') Select File
										input#selfile.form-control(type='text', name='selfile', disabled)
								.col-lg-1
									button#submit_btn.btn.btn-default(type='submit', style="visibility:hidden") Submit
							.form-group
								.col-lg-1
									input#ucoid(type='text', name='ucoid', value = "#{curruser.coid}", style="visibility:hidden")
								.col-lg-1
									input#uuserid(type='text', name='uuserid', value = "", style="visibility:hidden")
								.col-lg-1
									input#urperiod(type='text', name='urperiod', value = "", style="visibility:hidden")
								.col-lg-2
									input#docfile(type='file', name='docfile', style="visibility:hidden;")
						.row
							.form-group
								.col-lg-10.col-lg-offset-1
									p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#upload_btn.btn.btn-primary(type='button') Upload

