include employee_header.jade

input#eactdata(type='text', name='eactdata', value = '#{eactdata}', style='visibility:hidden')
input#repldata(type='text', name='repldata', value = '#{repldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden')
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden')
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Resignation
					.row
						.form-group
							label.col-lg-2.control-label(for='reason') Reason for resignation
							.col-lg-3
								select#reason-list.form-control(name='reason')
									option(value=1,selected = true)= "Better Career Prospects"
									option(value=2)= "Better Role"
									option(value=3)= "Better Salary"
									option(value=4)= "Work-Life Balance"
									option(value=5)= "Dream Job Offer"
									option(value=6)= "Family circumstances"
									option(value=7)= "Personal Reasons"
									option(value=8)= "Getting Married"
									option(value=9)= "Higher Education"
									option(value=10)= "Health Reasons"
									option(value=11)= "Full-time position"
									option(value=12)= "Maternity related"
									option(value=13)= "Not returning from Maternity leave"
									option(value=14)= "Other Reasons"
							.col-lg-1
								input#sts.form-control(type='text', name='sts', style='visibility:hidden')
							label.col-lg-2.control-label(for='repl') Who do you think is best person to take-over from you?
							.col-lg-3
								select#repl-list.form-control(name='repl')
					.row
						.form-group
							label.col-lg-2.control-label(for='desc') Comments / Feedback
							.col-lg-3
								textarea#fback.form-control(rows = '4', name='fback', placeholder='Please input any comments / feedback')
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')

					.row
						.form-group
							.col-lg-1.col-lg-offset-2
								button#upd_btn.btn.btn-success(type='submit', disabled) Update
							.col-lg-1
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.exits.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

include 435modal.jade

div.ajaxaction

include employee_js.jade
script(src='../js/435_validator.js')

