include employee_header.jade

input#roledata(type='text', name='roledata',  size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata',  size='1', value = '#{locdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		legend.text-center Team 
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/436_validator.js')


