include employee_header.jade

input#formdata(type='text', size='1', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', size='1', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', size='1', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.form-group
						.row
							.col-lg-12
								legend.text-center Performance Improvement Plan
						.row
							.col-lg-10.col-lg-offset-2
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
						.row
							.col-lg-12
								table#listTable.table.usergoals.table-bordered.table-striped.table-hover
									thead
									tbody
								ul#listpages

include 440modal.jade

div.ajaxaction


include employee_js.jade
script(src='../js/440_validator.js')

