#CommentModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Self comments
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-2.col-lg-offset-1.control-label(for='modal_tsts') Comments
								.col-lg-8
									textarea#mcomm.form-control(rows = '4', name='mcomm', placeholder='your comments')
								.col-lg-1
									input#modal_dbid1.form-control(type='text', name='dbid1', style='visibility:hidden')
								.col-lg-1
									input#modal_indx1.form-control(type='text', name='modal_indx', style='visibility:hidden')
						.row
							.form-group
								.col-lg-10.col-lg-offset-1
									p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#commentupd_btn.btn.btn-primary(type='button') Update

