include employee_header.jade

input#usrdata(type='text', size='1', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#formdata(type='text', size='1', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', size='1', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', size='1', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team member PIP
					.row
						.form-group
							label.col-lg-2.control-label(for='usr') Select Team Member
							.col-lg-3
								select#usr-list.form-control(name='usr')
							.col-lg-2
								button#search_btn.btn.btn-primary(type='submit') Search for PIP details
							.col-lg-3
								button#clear_btn.btn.btn-success(type='button') Clear Search
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.form-group
							label.col-lg-2.control-label(for='sgoal') Objective
							.col-lg-3
								input#obj.form-control(type='text', name='obj', placeholder='Objective', disabled)
							label.col-lg-2.control-label(for='meets') Expected Performance
							.col-lg-3
								textarea#meets.form-control(rows = '4', name='meets', placeholder='Expected Performance to meet this goal\'s objectives', disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='sdate') Start Date
							.col-lg-3
								input#sdate.form-control(type='text', name='sdate', placeholder='Starting date for the objective', disabled)
							label.col-lg-2.control-label(for='edate') End Date
							.col-lg-3
								input#edate.form-control(type='text', name='edate', placeholder='Completion date for the objective', disabled)

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit', disabled) Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.usergoals.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

include 441modal.jade

div.ajaxaction


include employee_js.jade
script(src='../js/441_validator.js')
