include employee_header.jade

input#eactdata(type='text', name='eactdata', value = '#{eactdata}', style='visibility:hidden')
input#repldata(type='text', name='repldata', value = '#{repldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team member resignation
					.row
						.form-group
							label.col-lg-2.control-label(for='ldate') Expected Last working day
							.col-lg-3
								input#ldate.form-control(type='text', name='ldate', placeholder='Expected Last working day')
							label.col-lg-2.control-label(for='repl') Who do you think is best person to take-over?
							.col-lg-3
								select#repl-list.form-control(name='repl')
							.col-lg-1
								input#dbid(type='text', name='dbid', style='visibility:hidden')
							.col-lg-1
								input#mgr(type='text', name='mgr', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='status') Status
							.col-lg-3
								select#status-list.form-control(name='status')
									option(value='1')= "Submitted"
									option(value='2',selected = true)= "Approved"
									option(value='3')= "Rejected"
									option(value='4')= "Withdrawn"
							label.col-lg-2.control-label(for='status') Exit Actions
							.col-lg-3
								select#eact-list.form-control(name='eact', multiple='multiple')

					.row
						.form-group
							.col-lg-3.col-lg-offset-2
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.exits.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include employee_js.jade
script(src='../js/442_validator.js')
