include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#childtot(type='text', name='childtot', value = '#{childtot}', style='visibility:hidden')
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		legend.text-center Company Policies
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.policies.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/444_validator.js')


