include employee_header.jade

input#rperdata(type='text', name='rperdata', size='1', value = '#{rperdata}', style='visibility:hidden')
input#roledata(type='text', name='roledata', size='1', value = '#{roledata}', style='visibility:hidden')
input#kradata(type='text', name='kradata', size='1', value = '#{kradata}', style='visibility:hidden')
input#subroledata(type='text', name='subroledata', size='1', value = '#{subroledata}', style='visibility:hidden')

input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')
input#ownrole(type='text', name='ownrole', size='1', value = '#{curruser.role}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Add performance indicators
					.row
						.form-group
							label.col-lg-2.control-label(for='role') Select Role
							.col-lg-3
								select#role-list.form-control(name='role', onChange="def_kra()")
							label.col-lg-2.control-label(for='kra') Select KRAs
							.col-lg-3
								select#kra-list.form-control(name='kra')
					.row
						.form-group
							.col-lg-1.col-lg-offset-2
								button#search_btn.btn.btn-success(type='submit') Search
							.col-lg-2
								button#clear_btn.btn.btn-danger(type='submit') Clear Search
.row-fluid
	.col-lg-12
		.well
			form.form-horizontal
				fieldset
					.row
						.form-group
							label.col-lg-2.control-label(for='title') Performance indicator
							.col-lg-3
								input#title.form-control(type='text', name='title', placeholder='Performance indicator', disabled)
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							label.col-lg-2.control-label(for='desc') Description
							.col-lg-3
								textarea#desc.form-control(rows = '4', name='desc', placeholder='Description', disabled)

					.row
						.form-group
							.col-lg-2.col-lg-offset-2
								button#add_btn.btn.btn-primary(type='submit', disabled) Add New
							.col-lg-3
								button#upd_btn.btn.btn-success(type='submit', disabled) Update changes
							.col-lg-2
								button#cancel_btn.btn.btn-danger(type='button', disabled) Cancel Update

					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.perfgoals.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include employee_js.jade
script(src='../js/447_validator.js')
