include employee_header.jade

input#deptdata(type='text', name='deptdata', value = '#{deptdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
.row-fluid
	.col-lg-12
		legend.text-center Departmental Inductions
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.indcs.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction

include employee_js.jade
script(src='../js/448_validator.js')

