include employee_header.jade

input#deptdata(type='text', name='deptdata', value = '#{deptdata}', style='visibility:hidden')
input#mhsdata(type='text', name='mhsdata', value = '#{mhsdata}', style='visibility:hidden')
input#nhsdata(type='text', name='nhsdata', value = '#{nhsdata}', style='visibility:hidden')

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#totpages(type='text', name='totpages', value = '#{totpages}', style='visibility:hidden' )
input#editrow(type='text', name='editrow', value = '-1', style='visibility:hidden')
.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Roles defined for each Department
					.row
						.form-group
							label.col-lg-2.control-label(for='dept') Please select Department
							.col-lg-3
								select#dept-list.form-control(name='dept')
							.col-lg-2.col-lg-offset-2
								button#search_btn.btn.btn-primary(type='submit') Search
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.roles.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages

div.ajaxaction

include employee_js.jade
script(src='../js/451_validator.js')

