include employee_header.jade

input#roledata(type='text', name='roledata', size='1', value = '#{roledata}', style='visibility:hidden')
input#locdata(type='text', name='locdata', size='1', value = '#{locdata}', style='visibility:hidden')
input#repdata(type='text', name='repdata', value = '#{repdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
input#userdata(type='text', name='userdata', value = '#{userdata}', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Skip Team List
					.row
						.form-group
							label.col-lg-2.control-label(for='rep') Select direct reportee
							.col-lg-3
								select#rep-list.form-control(name='rep')
							.col-lg-2
								button#search_btn.btn.btn-success(type='button') Show Team
					.row
						.form-group
							.col-lg-10.col-lg-offset-2
								p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


.row-fluid
	.col-lg-12
		.well
			form#listTable-form.form-horizontal
				fieldset
					.form-group
						.col-lg-12
							table#listTable.table.users.table-bordered.table-striped.table-hover
								thead
								tbody
							ul#listpages


div.ajaxaction


include employee_js.jade
script(src='../js/454_validator.js')

