include employee_header.jade

input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row
  .col-lg-8.col-lg-offset-2
    .div#bloglist

div.ajaxaction

include employee_js.jade
script(src='../js/460_validator.js')
