#AssignModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Assign appraisers
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_peer') Peer Appraiser
								.col-lg-6
									select#modal_peer.form-control(name='modal_peer')
						.row
							.form-group
								label.col-lg-3.col-lg-offset-1.control-label(for='modal_team') Team member Appraiser
								.col-lg-6
									select#modal_team.form-control(name='modal_team')
								.col-lg-2
									input#modal_aprslid.form-control(type='text', name='modal_aprslid', style='visibility:hidden')
						.row
							.form-group
								.col-lg-10.col-lg-offset-4
									p(id = 'errtext2', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#assignupd_btn.btn.btn-primary(type='button') Save Appraiser(s)

#RatingModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Update self rating
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.control-label(for='modal_srat') Select rating
								.col-lg-5
									select#modal_srat.form-control(name='modal_srat')
								.col-lg-1
									input#modal_sdbid.form-control(type='text', name='modal_sdbid', style='visibility:hidden')
								.col-lg-1
									input#modal_sindx.form-control(type='text', name='modal_sindx', style='visibility:hidden')
								.col-lg-2
									input#modal_sapid.form-control(type='text', name='modal_sapid', style='visibility:hidden')
						.row
							.form-group
								.col-lg-9.col-lg-offset-3
									p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#sratngupd_btn.btn.btn-primary(type='button') Update

#PeerModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Provide Peer rating
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.control-label(for='modal_prat') Select rating
								.col-lg-5
									select#modal_prat.form-control(name='modal_prat')
								.col-lg-1
									input#modal_pdbid.form-control(type='text', name='modal_pdbid', style='visibility:hidden')
								.col-lg-1
									input#modal_pindx.form-control(type='text', name='modal_pindx', style='visibility:hidden')
								.col-lg-2
									input#modal_papid.form-control(type='text', name='modal_papid', style='visibility:hidden')
						.row
							.form-group
								.col-lg-9.col-lg-offset-3
									p(id = 'errtext4', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#pratngupd_btn.btn.btn-primary(type='button') Update Rating

#TeamModal.modal(data-backdrop='static', data-keyboard='false')
	.modal-dialog
		.modal-content
			.modal-header
				h4#titletxt.modal-title.text-success Provide team member rating
			.modal-body
				form#updemp-form.form-horizontal
					fieldset
						.row
							.form-group
								label.col-lg-3.control-label(for='modal_trat') Select rating
								.col-lg-5
									select#modal_trat.form-control(name='modal_trat')
								.col-lg-1
									input#modal_tdbid.form-control(type='text', name='modal_tdbid', style='visibility:hidden')
								.col-lg-1
									input#modal_tindx.form-control(type='text', name='modal_tindx', style='visibility:hidden')
								.col-lg-2
									input#modal_tapid.form-control(type='text', name='modal_tapid', style='visibility:hidden')
						.row
							.form-group
								.col-lg-9.col-lg-offset-3
									p(id = 'errtext5', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

			.modal-footer
				button.btn.btn-danger(type='button', data-dismiss='modal') Close
				button#tratngupd_btn.btn.btn-primary(type='button') Update Rating

