#RatingModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      .modal-header
        h4#titletxt.modal-title.text-success Update Supervisor rating
      .modal-body
        form#updemp-form.form-horizontal
          fieldset
            .row
              .form-group
                label.col-lg-3.control-label(for='modal_srat') Select rating
                .col-lg-5
                  select#modal_srat.form-control(name='modal_srat')
                .col-lg-1
                  input#modal_sdbid.form-control(type='text', name='modal_sdbid', style='visibility:hidden')
                .col-lg-1
                  input#modal_sindx.form-control(type='text', name='modal_sindx', style='visibility:hidden')
                .col-lg-2
                  input#modal_sapid.form-control(type='text', name='modal_sapid', style='visibility:hidden')
            .row
              .form-group
                .col-lg-9.col-lg-offset-3
                  p(id = 'errtext3', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Close
        button#sratngupd_btn.btn.btn-primary(type='button') Update

#prntModal.modal(data-backdrop='static', data-keyboard='false')
  .modal-dialog
    .modal-content
      #section-to-print
        .modal-header
          h4#titletxt.modal-title.text-success.text-center Employee appraisal
        .modal-body
          form#updemp-form.form-horizontal
            fieldset
              .form-group
                .row
                  .col-lg-12
                    h5#ptext1.text-success.text-center -
                .row
                  .col-lg-2.col-lg-offset-1
                    h5#ptext2.text-success.text-left -
                  .col-lg-2.col-lg-offset-6
                    h5#ptext2.text-success.text-left -
                  .col-lg-12
                    table#listTable.table.eacts.table-bordered.table-striped.table-hover
                      thead
                      tbody

      .modal-footer
        button.btn.btn-danger(type='button', data-dismiss='modal') Close
        button#print_btn.btn.btn-primary(type='button') Print

