include employee_header.jade

input#rleveldata(type='text', name='rleveldata', size='1', value = '#{rleveldata}', style='visibility:hidden')
input#repdata(type='text', size='1', name='repdata', value = '#{repdata}', style='visibility:hidden')
input#usrdata(type='text', size='1', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#aprsldata(type='text', name='aprsldata', size='1', value = '#{aprsldata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden')
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden')
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')

.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center Appraise Skip team members
          .row
            .form-group
              label.col-lg-2.control-label(for='aprsl') Select appraisal
              .col-lg-3
                select#aprsl-list.form-control(name='aprsl', onChange="aprsl_set(this)")
              label.col-lg-2.control-label(for='rep') Select direct reportee
              .col-lg-3
                select#rep-list.form-control(name='rep')
              .col-lg-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
          .row
            .form-group
              .col-lg-2.col-lg-offset-2
                button#skiprs_btn.btn.btn-success(type='button') Search for Skip reportees
              .col-lg-2
                button#clear_btn.btn.btn-danger(type='button' disabled) Clear Search
          .row
            .form-group
              label.col-lg-2.control-label(for='usr') Select user
              .col-lg-3
                select#usr-list.form-control(name='usr', disabled)
              .col-lg-2
                button#skip_btn.btn.btn-success(type='submit', disabled) Appraise user
          .row
            .form-group
              .col-lg-6.col-lg-offset-2
                p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again
.row-fluid
  .col-lg-12
    .well
      form#listTable-form.form-horizontal
        fieldset
          .form-group
            .col-lg-12
              table#listTable.table.apprslst.table-bordered.table-striped.table-hover
                thead
                tbody

include 464modal.jade

div.ajaxaction

include employee_js.jade
script(src='../js/464_validator.js')

