include employee_header.jade

input#usrdata(type='text', size='1', name='usrdata', value = '#{usrdata}', style='visibility:hidden')
input#kradata(type='text', size='1', name='kradata', value = '#{kradata}', style='visibility:hidden')
input#rleveldata(type='text', name='rleveldata', size='1', value = '#{rleveldata}', style='visibility:hidden')
input#goalsdata(type='text', name='goalsdata', size='1', value = '#{goalsdata}', style='visibility:hidden')
input#rperioddata(type='text', name='rperioddata', size='1', value = '#{rperioddata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', size='1', value = '#{formdata}', style='visibility:hidden')
input#totpages(type='text', name='totpages', size='1', value = '#{totpages}', style='visibility:hidden')
input#editrow(type='text', name='editrow', size='1', value = '-1', style='visibility:hidden')

.row-fluid
	.col-lg-12
		.well
			form#player-partners-form.form-horizontal
				fieldset
					.row
						.col-lg-12
							legend.text-center Team Review History
					.row
						.form-group
							label.col-lg-2.control-label(for='rperiod') Select Review Period
							.col-lg-3
								select#rperiod-list.form-control(name='rperiod')
							label.col-lg-2.control-label(for='usr') Select User
							.col-lg-3
								select#usr-list.form-control(name='usr')
					.row
						.form-group
							.col-lg-1.col-lg-offset-2
								button#search_btn.btn.btn-primary(type='submit') Show targets
							.col-lg-1
								button#clear_btn.btn.btn-danger(type='button' disabled) Clear search
							.col-lg-1
								input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
					.row
						.form-group
							.col-lg-6.col-lg-offset-2
								p(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again

.row-fluid
	.col-lg-12
		table#listTable.table.targetlist.table-bordered.table-striped.table-hover
			thead
			tbody

div.ajaxaction

include employee_js.jade
script(src='../js/466_validator.js')

