include candidate_header.jade

input#cuserdata(type='text', name='cuserdata', value = '#{cuserdata}', style='visibility:hidden' )
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )

.row-fluid
  .col-lg-10.col-lg-offset-2
    h2#greet.text-left
  .col-lg-8.col-lg-offset-2
    h3.text-left Have a great day!
    
.row
  .col-lg-12
    h1 &nbsp;
.row
  .col-lg-12.text-center
      button#jsearch_btn(type='submit', style='font-weight:bold;letter-spacing:0.2em').btn &nbsp;&nbsp;&nbsp;&nbsp;SEARCH BETTER JOBS&nbsp;&nbsp;&nbsp;&nbsp;
.row
  .col-lg-12
    h1 &nbsp;

div.ajaxaction

include candidate_js.jade
script(src='../js/awesomplete.js')
script(src='../js/candidate_home_validator.js')

