include candidate_header.jade

input#formdata(type='text', name='formdata',  size='1', value = '#{formdata}', style='visibility:hidden')

section#section1
.div
  .row
    .col-lg-6.col-lg-offset-3
      .well#well1
        form.form-horizontal.css-form(name='newuserform', novalidate='', autocomplete='off')
          fieldset
            legend(style='color:#FF1493').text-center Job search
            .form-group
              label#label1.col-lg-2.col-lg-offset-1.control-label(for='stext') Search text
              .col-lg-6
                input#stext.form-control(type='text', name='title', placeholder='Please input text to search in Job title & Job details', autocomplete='off')
            .form-group
              label#label6.col-lg-2.col-lg-offset-1.control-label.text-left(for='jobcntry') Job location
              .col-lg-3
                input#jobcntry.form-control(type='text', name='jobcntry', placeholder='Country')
              .col-lg-3
                input#jobcity.form-control(type='text', name='jobcity', placeholder='City')
            .form-group
              .col-lg-1.col-lg-offset-3
                button#searchjobs_btn.btn.btn-lg.btn-success(type='submit') Search Jobs
            .form-group
              .col-lg-9.col-lg-offset-3
                p(id = "errtext1", style="text-align:left;visibility:hidden") System Error!!! - Please log out and sign-in again

section#section1
.div
  .row
    .col-lg-6.col-lg-offset-3
      .div#results

  footer
    .row
      .col-lg-3.col-lg-offset-5
        p(style='color:white') © PlugHRjobs 2017 - All rights reserved
    .ajaxaction

div.ajaxaction

include candidate_js.jade
script(src='../js/candidate_home_validator.js')


