include candidate_header.jade

//input#deptdata(type='text', name='deptdata',  size='1', value = '#{deptdata}', style='visibility:hidden')
input#skillsdata(type='text', name='skillsdata',  size='1', value = '#{skillsdata}', style='visibility:hidden')
input#formdata(type='text', name='formdata', value = '#{formdata}', style='visibility:hidden' )
.row-fluid
  .col-lg-12
    .well
      form#player-partners-form.form-horizontal
        fieldset
          .row
            .col-lg-12
              legend.text-center About You
          .row
            .form-group
              label#label01.col-lg-2.col-lg-offset-1.control-label(for='uname') Fullname
              .col-lg-3
                input#uname.form-control(type='text', name='uname', placeholder='Full Name')
              label#label02.col-lg-1.control-label(for='emailid') Email ID
              .col-lg-3
                input#emailid.form-control(type='text', name='emailid', placeholder='Email ID')
          .row
            .form-group
              label#label03.col-lg-2.col-lg-offset-1.control-label(for='mobno') Mobile Number
              .col-lg-3
                input#mobno.form-control(type='text', name='mobno', placeholder='Mobile Number', onkeypress="return isNumberKey(event)")
              label#label04.col-lg-1.control-label(for='gender') Gender
              .col-lg-3
                select#gender-list.form-control(name='gender')
                  option(value=1)= "Male"
                  option(value=2)= "Female"
          .row
            .form-group
              label#label05.col-lg-2.col-lg-offset-1.control-label(for='cal1') Current Address
              .col-lg-3
                input#cal1.form-control(type='text', name='cal1', placeholder='Current Address')
              label#label06.col-lg-1.control-label(for='cal2') Locality
              .col-lg-3
                input#cal2.form-control(type='text', name='cal2', placeholder='Locality')
          .row
            .form-group
              label#label07.col-lg-2.col-lg-offset-1.control-label(for='ccity') City
              .col-lg-3
                input#ccity.form-control(type='text', name='ccity', placeholder='City', onChange="return capitaliseFirstLetter(this)")
              label#label08.col-lg-1.control-label(for='cpin') Pincode
              .col-lg-3
                input#cpin.form-control(type='text', name='cpin', placeholder='Pincode', onkeypress="return isNumberKey(event)")
          .row
            .form-group
              label#label09.col-lg-2.col-lg-offset-1.control-label(for='linkedin') Linkedin profile page
              .col-lg-3
                input#linkedin.form-control(type='text', name='linkedin', placeholder='linkedin profile page', autocomplete='off')
              label#label20.col-lg-1.control-label(for='fb') Facebook profile page
              .col-lg-3
                input#fb.form-control(type='text', name='fb', placeholder='Facebook handle', autocomplete='off')
          .row
            .form-group
              label#label21.col-lg-2.col-lg-offset-1.control-label(for='twit') Twitter handle
              .col-lg-3
                input#twit.form-control(type='text', name='twit', placeholder='Twitter handle', autocomplete='off')
              label#label10.col-lg-1.control-label(for='dob') Date Of Birth
              .col-lg-3
                input#dob.form-control(type='text', name='dob', placeholder='Date Of Birth')
          .row
            .form-group
              label#label13.col-lg-2.col-lg-offset-1.control-label(for='skills') Skills
              .col-lg-3
                select#skills.form-control(name='skills', multiple)
                  option(value=1)= "Communication"
                  option(value=2)= "Coding"
                  option(value=3)= "System Admin"
              //label#label11.col-lg-2.col-lg-offset-1.control-label(for='dept') Functional area
              //.col-lg-3
                select#dept.form-control(name='dept', multiple)
              label#label12.col-lg-1.control-label(for='industry') Industries
              .col-lg-3
                select#industry.form-control(name='industry', multiple)
                  option(value=1)= "Automotive/ Ancillaries"
                  option(value=2)= "Banking/ Financial Services"
                  option(value=3)= "Bio Technology & Life Sciences"
                  option(value=4)= "Chemicals/Petrochemicals"
                  option(value=5)= "Construction"
                  option(value=6)= "FMCG"
                  option(value=7)= "Education"
                  option(value=8)= "Entertainment/ Media/ Publishing"
                  option(value=9)= "Insurance"
                  option(value=10)= "ITES/BPO"
                  option(value=11)= "IT/ Computers - Hardware"
                  option(value=12)= "IT/ Computers - Software"
                  option(value=13)= "KPO/Analytics"
                  option(value=14)= "Machinery/ Equipment Mfg."
                  option(value=15)= "Oil/ Gas/ Petroleum"
                  option(value=16)= "Pharmaceutical"
                  option(value=17)= "Plastic/ Rubber"
                  option(value=18)= "Power/Energy"
                  option(value=19)= "Real Estate"
                  option(value=20)= "Retailing"
                  option(value=21)= "Telecom"
                  option(value=22)= "Advertising/PR/Events"
                  option(value=23)= "Agriculture/ Dairy Based"
                  option(value=24)= "Aviation/Aerospace"
                  option(value=25)= "Beauty/Fitness/PersonalCare/SPA"
                  option(value=26)= "Beverages/ Liquor"
                  option(value=27)= "Cement"
                  option(value=28)= "Ceramics & Sanitary Ware"
                  option(value=29)= "Consultancy"
                  option(value=30)= "Courier/ Freight/ Transportation"
                  option(value=31)= "Dotcom"
                  option(value=32)= "E-Learning"
                  option(value=33)= "Electrical/Switchgear"
                  option(value=34)= "Engineering, Procurement, Construction"
                  option(value=35)= "Environmental Service"
                  option(value=36)= "Facility management"
                  option(value=37)= "Fertilizer/ Pesticides"
                  option(value=38)= "Food & Packaged Food"
                  option(value=39)= "Textiles / Yarn / Fabrics / Garments"
                  option(value=40)= "Gems & Jewellery"
                  option(value=41)= "Government/ PSU/ Defence"
                  option(value=42)= "Consumer Electronics/Appliances"
                  option(value=43)= "Hospitals/ Health Care"
                  option(value=44)= "Hotels/ Restaurant"
                  option(value=45)= "Import / Export"
                  option(value=46)= "Iron/ Steel"
                  option(value=47)= "ISP"
                  option(value=48)= "Law Enforcement/Security Services"
                  option(value=49)= "Leather"
                  option(value=50)= "Market Research"
                  option(value=51)= "Medical Transcription"
                  option(value=52)= "Mining"
                  option(value=53)= "NGO"
                  option(value=54)= "Non-Ferrous Metals (Aluminium, Zinc etc.)"
                  option(value=55)= "Office Equipment/Automation"
                  option(value=56)= "Paints"
                  option(value=57)= "Paper"
                  option(value=58)= "Printing/ Packaging"
                  option(value=59)= "Public Relations (PR)"
                  option(value=60)= "Semiconductor"
                  option(value=61)= "Shipping/ Marine Services"
                  option(value=62)= "Social Media"
                  option(value=63)= "Sugar"
                  option(value=64)= "Travel/ Tourism"
                  option(value=65)= "Tyres"
                  option(value=66)= "Wood"
                  option(value=67)= "Other"
              .col-lg-1
                input#dbid.form-control(type='text', name='dbid', style='visibility:hidden')
            .form-group
              label#label14.col-lg-2.col-lg-offset-1.control-label(for='about') Profile summary
              .col-lg-7
                textarea#about.form-control(rows='6', name='about', placeholder='Write in detail about yourself eg. MIT CS, Full Stack Developer, launched a successful Android app, worked at Apple', autocomplete='off')
            .form-group
              label#label17.col-lg-2.col-lg-offset-1.control-label(for='sigach') Significant Achievements
              .col-lg-7
                textarea#sigach.form-control(rows='6', name='sigach', placeholder='Write in detail about your significant achievements', autocomplete='off')
            .form-group
              label#label23.col-lg-3.control-label(for='indresp') Which of these ones can you handle independently?
              .col-lg-3
                select#indresp.form-control(name='indresp', multiple)
                  option(value=1)= "Hiring"
                  option(value=2)= "Policies"
                  option(value=3)= "Performance Management"
                  option(value=4)= "Training"
                  option(value=5)= "Employee Engagement"
                  option(value=6)= "Workplace Compliances"
                  option(value=7)= "Factory Compliances"
                  option(value=8)= "Compensation & Benefits"
              label#label11.col-lg-1.control-label(for='adays') Availability
              .col-lg-3
                select#adays.form-control(name='adays')
                  option(value=1)= "Full time"
                  option(value=2)= "Few days a week"
                  option(value=3)= "Work from home"
            .form-group
              label#label15.text-primary.col-lg-2.control-label Current Engagements (If any)
            .form-group
              label#label16.col-lg-2.col-lg-offset-1.control-label(for='e1org') Organization #1
              .col-lg-3
                input#e1org.form-control(type='text', name='e1org', placeholder='Organization name', autocomplete='off')
              label#label18.col-lg-1.control-label(for='e1role') Role
              .col-lg-3
                input#e1role.form-control(type='text', name='e1role', placeholder='Role', autocomplete='off')
              //label#label17.col-lg-1.control-label(for='e1dept') Functional area
              //.col-lg-3
                select#e1dept.form-control(name='e1dept')
            .form-group
              label#label19.col-lg-2.col-lg-offset-1.control-label(for='e1sdate') Working since
              .col-lg-3
                input#e1sdate.form-control(type='text', name='e1sdate', placeholder='dd/mm/yyyy', autocomplete='off')
            .form-group
              hr#whhr.col-lg-8.col-lg-offset-2
            .form-group
              label#label22.col-lg-2.col-lg-offset-1.control-label(for='e2org') Organization #2
              .col-lg-3
                input#e2org.form-control(type='text', name='e2org', placeholder='Organization name', autocomplete='off')
              label#label24.col-lg-1.control-label(for='e2role') Role
              .col-lg-3
                input#e2role.form-control(type='text', name='e2role', placeholder='Role', autocomplete='off')
              //label#label23.col-lg-1.control-label(for='e2dept') Functional area
              //.col-lg-3
                select#e2dept.form-control(name='e2dept')
            .form-group
              label#label25.col-lg-2.col-lg-offset-1.control-label(for='e2sdate') Working since
              .col-lg-3
                input#e2sdate.form-control(type='text', name='e2sdate', placeholder='dd/mm/yyyy', autocomplete='off')
            .form-group
              label#label28.text-primary.col-lg-2.control-label Previous experience (If any)
            .form-group
              label#label29.col-lg-2.col-lg-offset-1.control-label(for='p1org') Organization #1
              .col-lg-3
                input#p1org.form-control(type='text', name='p1org', placeholder='Organization name', autocomplete='off')
              label#label31.col-lg-1.control-label(for='p1role') Role
              .col-lg-3
                input#p1role.form-control(type='text', name='p1role', placeholder='Role', autocomplete='off')
              //label#label30.col-lg-1.control-label(for='p1dept') Functional area
              //.col-lg-3
                select#p1dept.form-control(name='p1dept')
            .form-group
              label#label32.col-lg-2.col-lg-offset-1.control-label(for='p1stime') Period
              .col-lg-1.input-group
              .col-lg-1
                input#p1sdate.form-control(type='text', name='p1sdate', placeholder='From', autocomplete='off')
              .col-lg-1
                input#p1edate.form-control(type='text', name='p1edate', placeholder='To', autocomplete='off')
            .form-group
              hr#whhr.col-lg-8.col-lg-offset-2
            .form-group
              label#label33.col-lg-2.col-lg-offset-1.control-label(for='p2org') Organization #2
              .col-lg-3
                input#p2org.form-control(type='text', name='p2org', placeholder='Organization name', autocomplete='off')
              label#label35.col-lg-1.control-label(for='p2role') Role
              .col-lg-3
                input#p2role.form-control(type='text', name='p2role', placeholder='Role', autocomplete='off')
              //label#label34.col-lg-1.control-label(for='p2dept') Functional area
              //.col-lg-3
                select#p2dept.form-control(name='p2dept')
            .form-group
              label#label36.col-lg-2.col-lg-offset-1.control-label(for='p2stime') Period
              .col-lg-1
                input#p2sdate.form-control(type='text', name='p2sdate', placeholder='From', autocomplete='off')
              .col-lg-1
                input#p2edate.form-control(type='text', name='p2edate', placeholder='To', autocomplete='off')
            .form-group
              label#label37.text-primary.col-lg-2.control-label Education
            .form-group
              label#label38.col-lg-2.col-lg-offset-1.control-label(for='ed1name') Name of qualification #1
              .col-lg-3
                input#ed1name.form-control(type='text', name='ed1name', placeholder='Qualification', autocomplete='off')
              label#label39.col-lg-1.control-label(for='ed1colg') College
              .col-lg-3
                input#ed1colg.form-control(type='text', name='ed1colg', placeholder='College / University name', autocomplete='off')
            .form-group
              label#label40.col-lg-2.col-lg-offset-1.control-label(for='ed2stime') Duration
              .col-lg-1
                input#ed1sdate.form-control(type='text', name='ed1sdate', placeholder='From', autocomplete='off')
              .col-lg-1
                input#ed1edate.form-control(type='text', name='ed1edate', placeholder='To', autocomplete='off')
            .form-group
              hr#whhr.col-lg-8.col-lg-offset-2
            .form-group
              label#label41.col-lg-2.col-lg-offset-1.control-label(for='ed2name') Name of qualification #2
              .col-lg-3
                input#ed2name.form-control(type='text', name='ed2name', placeholder='Qualification', autocomplete='off')
              label#label42.col-lg-1.control-label(for='ed2colg') College
              .col-lg-3
                input#ed2colg.form-control(type='text', name='ed2colg', placeholder='College / University name', autocomplete='off')
            .form-group
              label#label43.col-lg-2.col-lg-offset-1.control-label(for='ed2stime') Duration
              .col-lg-1
                input#ed2sdate.form-control(type='text', name='ed2sdate', placeholder='From', autocomplete='off')
              .col-lg-1
                input#ed2edate.form-control(type='text', name='ed2edate', placeholder='To', autocomplete='off')
            .form-group
              hr#whhr.col-lg-8.col-lg-offset-2
            .form-group
              label#label44.col-lg-2.col-lg-offset-1.control-label(for='ed3name') Name of qualification #3
              .col-lg-3
                input#ed3name.form-control(type='text', name='ed3name', placeholder='Qualification', autocomplete='off')
              label#label45.col-lg-1.control-label(for='ed3colg') College
              .col-lg-3
                input#ed3colg.form-control(type='text', name='ed3colg', placeholder='College / University name', autocomplete='off')
            .form-group
              label#label46.col-lg-2.col-lg-offset-1.control-label(for='ed3stime') Duration
              .col-lg-1
                input#ed3sdate.form-control(type='text', name='ed3sdate', placeholder='From', autocomplete='off')
              .col-lg-1
                input#ed3edate.form-control(type='text', name='ed3edate', placeholder='To', autocomplete='off')
          .row
            .form-group
              .col-lg-6.col-lg-offset-2
                button#upd_btn.btn-lg.btn-primary(type='button') Update

          .row
            .form-group
              .col-lg-10.col-lg-offset-2
                p.form-control(id = 'errtext1', style='text-align:left;visibility:hidden') System Error!!! - Please log out and sign-in again


div.ajaxaction

include candidate_js.jade
script(src='../js/502_validator.js')

