doctype html
html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='shortcut icon', href='')
  title PlugHRjobs

  include candidate_css.jade

body(class=bodyClasses)
  nav.navbar.navbar-default
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header.page-scroll
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#plughrjobs-navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-centertext
          p(style='font-size:21;font-weight:normal;letter-spacing:0.2em') PLUGHRJOBS.COM
      // Collect the nav links, forms, and other content for toggling
      #plughrjobs-navbar.collapse.navbar-collapse
         ul.nav.navbar-nav.navbar-right
            li
               a(href='/') Home
            li
               a(href='/502') Profile
            li
               a(href='/503') Password
            li
               a#logout_btn(href='') Logout

  
